<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
      <mimeMap fileExtension=".srt" mimeType="text/srt" />
      <mimeMap fileExtension=".aac" mimeType="audio/aac" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogv" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".m4a" mimeType="video/mp4" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".obj" mimeType="text/plain" />
      <mimeMap fileExtension="apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".json" mimeType="application/json"/> 
    </staticContent>
        <httpRedirect enabled="false" />
  </system.webServer>
</configuration>