*{
	border:0;
	margin:0;
	padding:0;
}

html{
	width: 100%;
	height: 100%;
	overflow: hidden;

}
canvas, .popBackground{ 
	position: absolute; 
	left: 0; 
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.popBackground{
	background: rgba(0,0 , 0, 0.8);
	display: none;
}

.inputContent{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 180px;
	height: 100px;
	text-align: center;
	display: none;
}

.userName{
	width:100%;
	height: 20px;
}

.submitOk{
	width: 50px;
	height: 20px;
}

#scoreboard {
	position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: rgba(255,255,255,0.8);
    width: 50%;
	height: 50%;
	display: none;
}

@media only screen and (max-height: 836px) {
  canvas{
	top:auto;
  }
}
 