{#
/**
 * @file
 * Default theme implementation of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @ingroup templates
 *
 * @see template_preprocess_image()
 */
#}
{% set classes = [
  theme.settings.image_shape ? theme.settings.image_shape,
  theme.settings.image_responsive ? 'img-responsive',
] %}

{% if style_name == 'header' %}
  <span class="background-image" style="background-image: url('{{ attributes.src }}');">
{% endif %}

<img{{ attributes.addClass(classes) }} />

{% if style_name == 'header' %}
  </span>
{% endif %}
