.container-fluid {
	padding:0;
	img {
		width:100%; 
	}
}

.container {
	padding:0;
}
.row {
	margin:0;
}
.col-sm-12 {
	padding:0;
}


//news article temp styling
.two-column {
	margin-bottom:100px;
	.left-col {
		float: left;
    width: 44%;
    margin: 0 5%;
	}
	.right-col {
		float: right;
    margin-right: 5%;
    width: 40%;
	}
}

//header pencil edits
.region-header {
	.contextual {
		top:200px;
		right:60px;
	}
}


@media (min-width: 1020px) {
 .container{
    width: 1000px;
 }
}


@media (max-width: 1019px) {
	.container {
	  width: auto;
	}
	.row {
		margin:0;
	}
	.col-sm-12 {
		padding:0;
		
	}
}


