/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin clearfix() {
    &:after {
        clear   : both;
        content : "";
        display : table;
    }
}

/* fontSetup(fontSize, lineHeight, color, fontWeight, marginBtm); */
@mixin fontSetup( $size : 15px, $line : 1.2, $color : #000, $weight: null, $marginBtm : 10px) {
  font-size       : $size;
  line-height     : $line;
  color           : $color;
  font-weight     : $weight;
  margin-bottom		: $marginBtm;
}

@mixin font-face( $family, $file, $weight:"normal", $style:"normal" ) {
  @font-face {
    font-family: $family;
    src: url("../fonts/" + $file + ".ttf") format("truetype"),
    		 url("../fonts/" + $file + ".svg") format("svg"),
         url("../fonts/" + $file + ".woff") format("opentype");
    font-weight: #{$weight};
    font-style: #{$style};
      /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  }
}


@mixin after-font-icon($fontSize: 35px, $marginTop : 20px, $content : "\e901", $color : $white) {
   content:$content;
   display: block;
   margin-top:$marginTop;
   font-family:'wlt' !important;
   font-size:$fontSize;
   font-weight:normal;
   color:$color;
   line-height:1;
}

@mixin link-arrow($top: 0, $right:0) {
  position:relative;
  &:after {
  @include after-font-icon(18px, null, "\e901", $grey);
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    position: absolute;
    right: $right;
    top: $top;
  }
}

//add this if unable to add bootstrap class
@mixin text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

//vertical align
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//hover transition
@mixin transition($property: all, $duration: .2s, $easing: null, $delay: null) {
  -webkit-transition: $property $duration $easing $delay;
  transition: $property $duration $easing $delay;
}
