$white : #fff;
$black : #000;
$grey: #3e3e3e;
$greyLight: #f4f4f4;
$greyLighter: #ccc;
$greyDark: #707070;
$greyMedium: #808080;
$blue : #256396;
$blueLight: #4597cb;
$blueNav: #0cb1e9;
$red : #cb1e47;
$redDark : #bf0042;
$turquoise : #3b8489;
$purple: #734991;
$purpleDark: #51247a;

$orange: #fb6400;
$yellow: #f1bc03;