/* ----------61---------- */
.button-glow{
    .btn{
        box-sizing: border-box;
        -webkit-appearance: none;
            -moz-appearance: none;
                appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        &:hover, &:focus {
            color: #fff;
            outline: 0;
        } 
    }
    .first {
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        &:hover {
            box-shadow: 0 0 40px 40px #e74c3c inset;
        }
    } 
}
/* ----------61---------- */
/* ----------62---------- */
.button-bganimation{
    .second{
        border-radius: 3em;
        border-color: #1abc9c;
        color: #fff;
        background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
        background-position: 0 0;
        background-size: 100%;
        transition: background 300ms ease-in-out;
        &:hover{
            background-position: 100px;
        }
    }
    
}
/* ----------62---------- */
/* ----------63---------- */
.button-borderrotate{
    .btn{
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        position: relative;  
        text-decoration: none; 
        &:after {
            transition: 0.3s all ease;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border-radius: 3px;
            border: 3px solid #B15947;
        }  
        &:before {
            content: '';
            position: absolute;
            border-radius: 3px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            background: #fff;
            z-index: -1;
        } 
        &:hover{
            &:after {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        &:active {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            color: #fff;
            &:before{
                background-color: #f1481b;
            }
            &:after{
                border-color: #f1481b;
            }
        }
    }

} 
/* ----------63---------- */
/* ----------64---------- */
.button-threeD{
    button{
        font-size: 2vw;
        border: none;
        background-color: #ebebf0;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        z-index: 1;
        padding: 0;
        &:before{
            content: "";
            position: absolute;
            z-index: -1;
            width: 10px;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 10, 50, 0.2);
            transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
            transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
            transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
            -webkit-transform: translate3D(0, 0, 0);
                    transform: translate3D(0, 0, 0);
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #00d18e;
            z-index: -1;
        }
        &:hover, &:focus{
            &:before{
                -webkit-transform: translate3D(10px, 0, 0);
                    transform: translate3D(10px, 0, 0);
            }
            .button__inner{
                -webkit-transform: translate3D(0, -10px, 0);
                transform: translate3D(0, -10px, 0);
                background-color: #11ffb3;
            }
        }
        &:active{
            &:before {
                 -webkit-transform: translate3D(0, 0, 0);
                    transform: translate3D(0, 0, 0);
            }
            .button__inner {
                -webkit-transform: translate3D(0, 0, 0);
                    transform: translate3D(0, 0, 0);
            }
        }
        &:focus,&:active{
            outline: none;
        }
        .button__inner {
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: #333;
            padding: 1em 1.5em;
            background-color: #11ffb3; 
            display: block;
            width: 100%;
            height: 100%;
            transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
            transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
            transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
            position: relative;  
        } 
    }
    
}
/* ----------64---------- */
/* ----------65---------- */
.button-phantom{
    .button {
        border: 2px solid #2e2e2e;
        cursor: pointer;
        letter-spacing: 0.2125rem;
        overflow: hidden;
        padding: 20px 30px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        transition: 
            background 5s cubic-bezier(0.19, 1, 0.22, 1),
            border 1s cubic-bezier(0.19, 1, 0.22, 1),
            color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        user-select: none;
        a{
            color: #969696;
            font-family: "Varela Round";
            text-decoration: none;
        }
        .mask {
            background-color: #fff;
            background-color: rgba(255, 255, 255, 0.5);
            height: 100px;
            position: absolute;
            transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
            transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
            width: 200px;
        }
        .shift {
            display: inline-block;
            transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
            border-color: #fff;
            box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
            transition: background 0s;
            a{
                color: #fff;
            }
            .mask {
                background-color: #fff;
                transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
            }
            .shift {
                transform: translateX(5px);
            }
        }
        &:active {
            background-color: #fff;
            &:a {
                color: #202020;
            }
        }
    }
}
/* ----------65---------- */
/* ----------66---------- */
.button-close{
    .menu-icon {
        position: relative;
        border: 1px solid #333;
        height: 40px;
        cursor: pointer;  
        transition: all 200ms ease-out;
        width: 40px;
        box-sizing: content-box;

        &:after,&:before{
            background-color: #333;
            content: "";
            height: 1px;
            left: 50%;
            top: 50%;
            -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
            transform: translate3d(-50%, -50%, 0) rotate(45deg);
            transition: all 400ms cubic-bezier(0.25, 0.6, 0.36, 1);
            position: absolute;
            top: 50%;
            width: 25px;
        }
        &:before{
            -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
            transform: translate3d(-50%, -50%, 0) rotate(-45deg);
            transition-delay: 65ms;
        }
        .line{
            background: #333;
            height: 1px;
            position: absolute;
            transition: all 0.1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
            width: 0%;
            &.top{
                left: 0;
                top: 0;
                transition-delay: 0.3s;
            }
            &.right{
                left: 0;
                top: 0;
                -webkit-transform: translate3d(40px, 0, 0) rotate(90deg);
                transform: translate3d(40px, 0, 0) rotate(90deg);
                -webkit-transform-origin: 0;
                transform-origin: 0;
                transition-delay: 0.2s;
            }
            &.bottom{
                bottom: 0;
                right: 0;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                transition-delay: 0.1s;
            }
            &.left{
                left: 0;
                top: 0;
                -webkit-transform: translate3d(0, 40px, 0) rotate(-90deg);
                transform: translate3d(0, 40px, 0) rotate(-90deg);
                -webkit-transform-origin: 0;
                transform-origin: 0;
                transition-delay: 0s;
            }
        }
        &:hover{
            .line{
                width: 100%;
                .top{
                    transition-delay: 0ms;
                }
                .right{
                    transition-delay: 0.1s;
                }
                .bottom{
                    transition-delay: 0.2s;
                }
                .left{
                    transition-delay: 0.3s;
                }
            }
            &:after{
                -webkit-transform: translate3d(-50%, -50%, 0) rotate(225deg);
                transform: translate3d(-50%, -50%, 0) rotate(225deg);
            }
            &:before{
                -webkit-transform: translate3d(-50%, -50%, 0) rotate(135deg);
                transform: translate3d(-50%, -50%, 0) rotate(135deg);
            }
        }
        &:active{
            opacity: 0.8;
            transition: none;
        }
    }
}
/* ----------66---------- */
/* ----------67---------- */
/* ----------67---------- */
/* ----------68---------- */
/* ----------68---------- */
/* ----------69---------- */
/* ----------69---------- */
/* ----------70---------- */
/* ----------70---------- */