
.button-swipe{
    [class^="btn-"] {
            position: relative;
            display: block;
            overflow: hidden;
            height: 50px;
            width: 200px;
            margin: 1rem auto;
            text-transform: uppercase;
            border: 1px solid currentColor;
            text-align: center;
            text-decoration: none;
            line-height: 50px;
            cursor: pointer;
    }
    a{
        outline-width: 0;
        &:before,&:after,span::after,span::before{
            box-sizing: border-box;
            transition: 0.5s ease-in-out;
            z-index: -1;
        }
    }
    /* ----------51---------- */
    .btn-0 {
        color: #888e3c;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; 
            background-color: #454910;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            
        }
        &:hover{
            color: #dcdec6;
            &:before{
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
    /* ----------51---------- */
    /* ----------52---------- */
    .btn-1{
        color: #aa5a50;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            right: -50px;
            bottom: 0;
            left: 0;
            border-right: 50px solid transparent;
            border-bottom: 80px solid #5d251d;
            -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
        }
        &:hover{
            color: #e6cfcc;
            &:before{
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
    /* ----------52---------- */
    /* ----------53---------- */
    .btn-1-2 {
        color: #4d4e8f;
        &:before,&:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-bottom: 80px solid #1b1c4a;
        }
        &:before{
            right: -50px;
            border-right: 50px solid transparent;
            -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
        }
        &:after{
            left: -50px;
            border-left: 50px solid transparent;
            -webkit-transform: translateX(100%);
                    transform: translateX(100%);
        }
        &:hover{
            color: #cbcbde;
            &:before{ 
            -webkit-transform: translateX(-40%);
                    transform: translateX(-40%); 
            }
            &:after {
            -webkit-transform: translateX(40%);
                    transform: translateX(40%);
            } 
        }
    }
    /* ----------53---------- */
    /* ----------54---------- */
    .btn-2 {
        color: #858441;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        &:before {
            right: -50px;
            border-right: 50px solid transparent;
            border-bottom: 80px solid #434213;
            -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
        }
        &:after {
            left: -50px;
            border-left: 50px solid transparent;
            border-top: 80px solid #434213;
            -webkit-transform: translateX(100%);
                    transform: translateX(100%);
        }
        &:hover {
            color: #dbdbc7;
            &:hover{
                &:before {
                    -webkit-transform: translateX(-49%);
                        transform: translateX(-49%);
                }
                &:after {
                    -webkit-transform: translateX(49%);
                        transform: translateX(49%);
                }
            }
        }
    }   
    /* ----------54---------- */
    /* ----------55---------- */  
    .btn-3{
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-top: 25px solid #2d3b59;
            border-bottom: 25px solid #2d3b59;
        }
        &:before {
            border-right: 25px solid transparent;
            -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        }
        &:after {
            border-left: 25px solid transparent;
            -webkit-transform: translateX(100%);
                transform: translateX(100%);
        }
        &:hover {
            color: #d2d8e5;
            &:before {
                -webkit-transform: translateX(-30%);
                    transform: translateX(-30%);
            }
            &:after{
                -webkit-transform: translateX(30%);
                    transform: translateX(30%);
            }
        }
    } 
    
    /* ----------55---------- */
    /* ----------56---------- */
    .btn-4 {
        color: #6344ce;
        &:before,&:after,span::before,span::after,{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #2b1576;
        }
        &:before {
            -webkit-transform: translate(-100%, -100%);
                transform: translate(-100%, -100%);
        }
        &:after{
            -webkit-transform: translate(-100%, 100%);
                transform: translate(-100%, 100%);
        }
        span{
            &:before {
                -webkit-transform: translate(100%, -100%);
                    transform: translate(100%, -100%);
            }
            &:after {
                -webkit-transform: translate(100%, 100%);
                    transform: translate(100%, 100%);
            }
        }
        &:hover {
            color: #d1c8f1;
            &:before {
                -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            }
            &:after {
                -webkit-transform: translate(-50%, 50%);
                    transform: translate(-50%, 50%);
            }
            span{
                &:before {
                    -webkit-transform: translate(50%, -50%);
                        transform: translate(50%, -50%);
                }
                &:after {
                    -webkit-transform: translate(50%, 50%);
                        transform: translate(50%, 50%);
                }
            }
        }
    }      
    /* ----------56---------- */
    /* ----------57---------- */
    .btn-5{
        color: #a95ab8;
        &:after {
            content: '';
            width: 0;
            height: 0;
            -webkit-transform: rotate(360deg);
            border-style: solid;
            border-width: 0 0 0 0;
            border-color: transparent #5c2567 transparent transparent;
            position: absolute;
            top: 0;
            right: 0;
        }
        &:before {
            content: '';
            width: 0;
            height: 0;
            -webkit-transform: rotate(360deg);
            border-style: solid;
            border-width: 0 0 0 0;
            border-color: transparent transparent transparent #5c2567;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &:before, &:after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 0 solid;
            -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
        &:before{
            bottom: 0;
            left: 0;
            border-color: transparent transparent transparent #5c2567;
        }
        &:after{
            top: 0;
            right: 0;
            border-color: transparent #5c2567 transparent transparent;
        }
        &:hover{
            color: #e6cfea;
            &:before,&:after{
                border-width: 60px 262.5px;
            }
        } 
    }
    /* ----------57---------- */
    /* ----------58---------- */
    .btn-7 {
        color: #2b3574;
        &:after,&:before,span::after,span::before{
            content: '';
            position: absolute;
            top: 0;
            width: 25.25%;
            height: 0;
            background-color: #030a37;
        }
        &:before{
            left: 0;
        }
        &:after{
            left: 50%;
        }
        span{
            &:before,&:after{
                top: auto;
                bottom: 0; 
            }
            &:before{
                left:25%;
            }
            &:after{
                left:75%;
            }
        }
        &:hover{
            color: #c1c4d6;
            &:after,&:before,span::after,span::before{
                height: 60px;
            }
        }
    }
    /* ----------58---------- */
    /* ----------59---------- */
    .btn-8 {
        color: #456f86;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #163444;
        }
        &:before {
            -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        }
        &:after {
            -webkit-transform: translateY(100%);
                transform: translateY(100%);
        }
        &:hover {
            color: #c8d5dc;
            &:before {
                -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            }
            &:after{
                -webkit-transform: translateY(50%);
                    transform: translateY(50%);
            }
        }
    }    
    /* ----------59---------- */
    /* ----------60---------- */
    .btn-10 {
        color: #cd3b96;
        &:before,&:after,span::before,span::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 80px;
            background-color: rgba(118, 14, 79, 0.25);
            transition: 0.4s;
        }
        &:after,span::before{
            left: auto;
            right: 0; 
        }
        &:span{
            &:before,&:after{
                transition-delay: 0.4s;
            }
        }
        &:hover {
            color: #f0c5e0;
            &:before,&:after,span::before,span::after{
              width: 250px;  
            }
        }
        &:active {
            background-color: #c41884;
        }
    }      

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
    /* ----------60---------- */
}






