/* ----------31---------- */
.button-liquidfill{ 
    background: url(../images/bg-main.png) left !important;
    button{
        flex: 1;
        padding: 25px 50px;
        margin: 25px;
        border-radius: 999px;
        border: 5px solid #284cff;
        font-family: 'VT323', monospace;
        font-size: 25px;
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        color: #fff;
        cursor: pointer;
        user-select: none;
        background: transparent;
        background-image: url(../images//nav-bg-fill-blue.png);
        background-repeat: repeat-x;
        background-position: 0 -100%;
        transition: 1.5s ease;

        filter: hue-rotate(20deg);
        &:hover{
            background-position: 900% 100%;
        }
    }
}
/* ----------31---------- */
/* ----------32---------- */
.button-transformSpot{ 
    button{
        color: #999;
        font-size: 25px;
        width: 8em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        font-family: sans-serif;
        text-transform: capitalize;
        position: relative;
        transition: 0.5s;
        margin: 0.8em;
        border: none;
        span{
            z-index: 3;
            position: absolute;
            top: 28%;
            left: 35%;
        }
        &:before, &:after{
            content: '';
            position: absolute;
            width: 0.6em;
            height: 0.6em;
            background-color: gainsboro;
            border-radius: 50%;
            transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
            top: calc(50% - 0.6em / 2);
        }
        &:before{
            left: 0;
            z-index: 1;
        }
        &:after{
            right: 0;
            z-index: 2;
        }
        &:hover{
            color: #fff;
            &:before, &:after{
                width: 100%;
                height: 100%;
                border-radius: 0;
                background-color: dodgerblue;
            }
            &:before{
                top: 0; 
            }
            &:after{
                right: -0.4em;
                filter: brightness(0.8);
            }
        }
    }
}
/* ----------32---------- */
/* ----------33---------- */
.button-overlap{
    button{
        color: #000;
        font-size: 25px;
        width: 8em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        font-family: sans-serif;
        text-transform: capitalize;
        position: relative;
        transition: 0.5s;
        margin: 0.8em;
        border: none; 
        span{
            z-index: 3;
            position: absolute;
            top: 28%;
            left: 27%;
        }
        &:after, &:before{
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            top: 0;
            left: 0;
            transition: 0.3s;
        }
        &:before{
            background-color: white;
            z-index: 1;
            box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
        }
        &:after{
            background-color: goldenrod;
            transform: translate(0.8rem, 0.8rem);
            z-index: 2;
        }
        &:hover{
            transform: translate(0.8rem, 0.8rem);
            color: white;
            &:before{
                background-color: goldenrod;
                z-index: 2;
            }
            &:after{
                background-color: white;
                transform: translate(-0.8rem, -0.8rem);
                z-index: 1;
            }
            span{
                top: 0%;
                left: 24%;
            }
        }
    }
    
}
/* ----------33---------- */
/* ----------34---------- */
.button-box{
    a{
        position: relative;
        margin: auto; 
        width: 260px;
        height: 52px;
        background: #fff;
        transform: translate3d(0px, 0%, 0px);
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.05em;
        transition-delay: 0.6s;
        overflow: hidden;
        &:hover{
            background: #3ad2d0;
            transition: background 0.2s linear;
            transition-delay: 0.6s;
            transform: translateY(0);
            &:after{
                border-radius: 0 0 50% 50%;
                transform: translateY(-100%) scaleY(0.5);
                transition-delay: 0;
            }
            &:before{
                border-radius: 0;
                transform: translateY(0) scaleY(1);
                transition-delay: 0;
            }
            span:first-child{
                transform: translateY(0);
            }
            span:last-child{
                transform: translateY(-24px);
            }
        } 
        div{
            position: relative;
            top: 16px;
            width: 100%;
            height: 26px;
            text-transform: uppercase;
            overflow: hidden;
        }
       &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #3ad2d0;
            border-radius: 50% 50% 0 0;
            transform: translateY(100%) scaleY(0.5);
            transition: all 0.6s ease;
       }
       &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            border-radius: 0;
            transform: translateY(0) scaleY(1);
            transition: all 0.6s ease;
       }
       span{
            position: absolute;
            z-index: 1;
            top: 0;
            width: 100%;
            text-align: center;
            transition: transform 0.5s ease;
            color: #000;
            &:first-child{
                color: #fff;
                transform: translateY(24px);
            }
       }

    }
}
/* ----------34---------- */
/* ----------35---------- */
.button-drawline{
    .btn{
        display: inline-block;
        color: white;
        min-width: 154px;
        text-decoration: none;
        margin-right: 50px;
        padding: 20px;
        position: relative;
        text-align: center;
        .button-stroke{
            display: block;
            width: calc(100% - 40px);
            height: 20px;
            stroke: yellow;
            position: absolute;
            left: 20px;
            bottom: -10px;
            stroke-width: 4;
            &:nth-child(2){
                stroke-dasharray: 650px;
                stroke-dashoffset: 650px;
                stroke: #11171a;
                stroke-width: 5;
                transition: stroke-dashoffset 800ms ease-out;
            }
        }
        &:hover{
            .button-stroke:nth-child(2){
                stroke-dashoffset: 0;
            }
        }
    }
}
/* ----------35---------- */
/* ----------36---------- */
.buttonArrow3{
    .wrapper {
        display: flex;
        justify-content: center;
        .cta{
            display: flex;
            padding: 10px 45px;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            color: white;
            background: #6225E6;
            transition: 1s;
            box-shadow: 6px 6px 0 black;
            -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);  
            span{
                -webkit-transform: skewX(15deg);
                transform: skewX(15deg);
                &:nth-child(2){
                    transition: 0.5s;
                    margin-right: 0px;

                    width: 20px;
                    margin-left: 30px;
                    position: relative;
                    top: 12%;
                }
                path.one {
                    transition: 0.4s;
                    -webkit-transform: translateX(-60%);
                    transform: translateX(-60%);
                }
                path.two {
                    transition: 0.5s;
                    -webkit-transform: translateX(-30%);
                    transform: translateX(-30%);
                }
            }
            &:focus{
                outline: none;
            }
            &:hover{
                transition: 0.5s;
                box-shadow: 10px 10px 0 #FBC638;
                span:nth-child(2) {
                    transition: 0.5s;
                    margin-right: 45px;
                }
                path.one {
                    -webkit-transform: translateX(0%);
                            transform: translateX(0%);
                    -webkit-animation: color_anim 1s infinite 0.6s;
                            animation: color_anim 1s infinite 0.6s;
                }
                path.two {
                    -webkit-transform: translateX(0%);
                            transform: translateX(0%);
                    -webkit-animation: color_anim 1s infinite 0.4s;
                            animation: color_anim 1s infinite 0.4s;
                }
                path.three {
                    -webkit-animation: color_anim 1s infinite 0.2s;
                            animation: color_anim 1s infinite 0.2s;
                }
            }
        }
    }
}
/* SVG animations */ 
@-webkit-keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}
/* ----------36---------- */
/* ----------37---------- */
.button-wireframe{
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        padding: 1rem 2rem;
        margin: 0 1rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        color: #000;
       &:before, &:after, .left, .right{
            position: absolute;
            left: 50%;
            top: 50%;
            height: 0;
            width: 0;
            background: #ef233c;
            transition: 0.5s; 
        } 
        &:before, &:after{
            content: "";
        }
        .text{
            transition: 0.5s;
        }
        &:hover{
            .text{
                color:#ef233c;
            }
            .right, .left{
                top: 0;
                width: 2px;
                height: 100%
            }
            &:before, &:after{
                height: 2px;
                width: 100%;
                left: 0;
            }
            &:before{
                top:0;
            }
            &:after{
                top: calc(100% - 2px);
            }
            .left{
                left:0;
            }
            .right{
                left: calc(100% - 2px);
            }
        }
    }
    
}
/* ----------37---------- */
/* ----------38---------- */
/* ----------38---------- */
/* ----------39---------- */
/* ----------39---------- */
/* ----------40---------- */
/* ----------40---------- */