
/* ----------1---------- */
.name {
	width: 100%;
	text-align: center;
	padding: 0 0 3rem;
	font: 500 14px 'Rubik', sans-serif;
	letter-spacing: .5px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.button-jittery button {
	animation: jittery 4s infinite;
	&:hover {
		animation: heartbeat 0.2s infinite;
	}
}

@keyframes jittery {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}

@keyframes heartbeat {
	50% {
		transform: scale(1.1);
	}
}
/* ----------1---------- */

/* ----------2---------- */
.button-pulse {
	button {
		background: var(--bg-color);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
    }
    .button__wrapper:hover .pulsing {
		&:before {
			animation: pulsing 0.2s linear infinite;
		}
		&:after {
			animation: pulsing1 0.2s linear infinite;
		}
	}
}

.pulsing {
	width: 99%;
	height: 99%;
	border-radius: 50px;
	z-index: 1;
	position: relative;

	&:before,
	&:after {
		width: 100%;
		height: 100%;
		border: inherit;
		top: 0;
		left: 0;
		z-index: 0;
		background: #fff;
		border-radius: inherit;
		animation: pulsing 2.5s linear infinite;
	}
	&:after {
		animation: pulsing1 2.5s linear infinite;
	}
}

@keyframes pulsing {
	0% {
		opacity: 1;
		transform: scaleY(1) scaleX(1);
	}
	20% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.2;
		transform: scaleY(1.8) scaleX(1.4);
	}
	80% {
		opacity: 0;
		transform: scaleY(1.8) scaleX(1.4);
	}
	90% {
		opacity: 0;
		transform: scaleY(1) scaleX(1);
	}
}
@keyframes pulsing1 {
	0% {
		opacity: 1;
		transform: scaleY(1) scaleX(1);
	}
	20% {
		opacity: 0.5;
	}
	70% {
		opacity: 0.2;
		transform: scaleY(1.3) scaleX(1.15);
	}
	80% {
		opacity: 0;
		transform: scaleY(1.3) scaleX(1.15);
	}
	90% {
		opacity: 0;
		transform: scaleY(1) scaleX(1);
	}
}

/* ----------2---------- */

/* ----------3---------- */
.button-typewriter {
    button{
        width: 100%;
        height: 100%;
    } 
    p {
        animation: typing 4s steps(12) infinite;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
    .button__wrapper:hover p {
		animation: blink 0.3s infinite;
	}
}

@keyframes typing {
	0% {
		width: 0;
	}
	50% {
		width: 100%;
	}
	55%,
	65%,
	75% {
		opacity: 1;
	}
	60%,
	70% {
		opacity: 0;
	}
	80% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}

@keyframes blink {
	25%,
	75% {
		color: transparent;
	}
	40%,
	60% {
		color: #fff;
	}
}

/* ----------3---------- */

/* ----------4---------- */
.button-pressure {
    button{
        &:before {
            content: "OMG YAS";
            transition: 0.5s ease;
            left: 0;
            right: 0;
            margin: auto;
            top: -15px;
            font-size: 12px;
            opacity: 0; 
        } 
        &:hover{
            &:before{
                 animation: omg-yes 1s;
            }  
        } 
    }

    marquee{
        position: absolute;
        width: 90%;
        top: 125%;
        left: 5%;
        font: 18px/1 "Margarine", sans-serif;  
        span{
            display: inline-block;
            height: 20px;
            &:not(:last-child){
                margin-right: 130px;
            }
        } 
    }
}

@keyframes omg-yes {
	50% {
		opacity: 1;
	}
	100% {
		top: -50px;
	}
}

/* ----------4---------- */

/* ----------5---------- */
.button-hand button {
	&:before {
		content: "👇";
		font-size: 42px;
		transform: scaleX(-1);
		right: 0px;
		top: -48px;
		animation: up-down 1s infinite;
	}
	.hands {
		&:before,
		&:after {
			content: "👇";
			font-size:30px;
			opacity: 0;
			transition: 0.4s ease-in-out;
		}
		&:before {
			transform: rotate(-60deg);
			left: -45px;
			top: -10px;
		}
		&:after {
			transform: rotate(170deg);
			right: 30px;
			top: 50px;
		}
	}
	&:hover .hands {
		&:before {
			opacity: 1;
			left: -35px;
		}
		&:after {
			opacity: 1;
			top: 40px;
		}
	}
}

@keyframes up-down {
	50% {
		margin-top: -20px;
	}
}

/* ----------5---------- */

/* ----------6---------- */ 
.button-100 {
	.emoji {
		position: absolute;
		top: -45px;
		left: 0;
		width: 35px;
		height: 35px;
		overflow: hidden;
		&:before {
			content: "💯";
			display: inline-block;
			animation: give-score 2.5s infinite;
			position: relative;
			top: 0;
		}
		&:nth-child(2) {
			left: 0;
			right: 0;
			margin: auto;
			&:before {
				animation: give-score 2.5s infinite 0.2s;
			}
		}
		&:nth-child(3) {
			left: auto;
			right: 0;
			&:before {
				animation: give-score 2.5s infinite 0.4s;
			}
		}
	}
	button:hover .emoji:before {
		content: "👏";
		transition: 0.5s ease;
	}
}

@keyframes give-score {
	30%,
	80% {
		top: 0;
	}
	40%,
	70% {
		top: 50px;
	}
}
/* ----------6---------- */ 

/* ----------7---------- */ 
.button-parrot {
	.parrot {
		position: absolute;
		width: 60px;
		text-align: center;
		animation: blink 0.8s infinite;
		color: transparent;
		&:before {
			content: "Click Me!";
		}
		&:nth-child(1) {
			top: -30px;
			left: -40px;
			font: 12px/1 "Margarine", sans-serif;
			transform: rotate(-20deg);
			animation-duration: 0.5s;
		}
		&:nth-child(2) {
			font: 12px/1 "Margarine", sans-serif;
			right: -40px;
			top: -20px;
			transform: rotate(15deg);
			animation-duration: 0.3s;
		}
		&:nth-child(3) {
			font: 16px/1 "Margarine", sans-serif;
			top: -60px;
			left: 15px;
			transform: rotate(10deg);
			animation-duration: 1s;
		}
		&:nth-child(4) {
			font: 18px/1 "Margarine", sans-serif;
			top: -70px;
			left: 95px;
			transform: rotate(2deg);
			animation-duration: 0.7s;
		}
		&:nth-child(5) {
			font: 14px/1 "Margarine", sans-serif;
			top: 80px;
			left: 105px;
			transform: rotate(-20deg);
			animation-duration: 0.8s;
		}
		&:nth-child(6) {
			font: 12px/1 "Margarine", sans-serif;
			top: 80px;
			left: 5px;
			transform: rotate(10deg);
			animation-duration: 1.2s;
		}
	}
	button:hover .parrot:before {
		content: "Do it!";
		width: 70px;
	}
}
/* ----------7---------- */

/* ----------8---------- */ 
.button-rainbow button {
	animation: rainbow 3s infinite, heartbeat 0.6s infinite;
	background: #c0392b;
	.rainbow {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: -40px;
		transition: 0.5s ease;
		opacity: 0;
		transform: rotate(0);
		&:before {
			content: "🌈";
			left: 0;
		}
	}
	&:hover .rainbow {
		opacity: 1;
		animation: rotate-nonstop 0.2s infinite;
	}
	+ .name {
		color: #444;
	}
}

@keyframes rainbow {
	0% {
		background: #1abc9c;
	}
	10% {
		background: #2ecc71;
	}
	20% {
		background: #3498db;
	}
	30% {
		background: #9b59b6;
	}
	40% {
		background: #e74c3c;
	}
	50% {
		background: #e67e22;
	}
	60% {
		background: #f1c40f;
	}
	70% {
		background: #2c3e50;
	}
	80% {
		background: #9b59b6;
	}
}

@keyframes rotate-nonstop {
	50% {
		transform: rotate(92deg);
	}
}
/* ----------8---------- */

/* ----------9---------- */ 
.button-locker{
    button{  
        border: 0;
        padding: 0;

        border-radius: 0; 
        font-size: 25px;
        width: 8em;
        height: 2em;
        color: orange;
        border-left: 0.08em solid;
        position: relative;
        margin-top: 0.8em;
        cursor: pointer; 
        span{
            position: relative;
            height: 120%;
            top: -10%;
            box-sizing: border-box;
            border: 0.08em solid;
            background-color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: sans-serif;
            text-transform: capitalize;
            transform: translateX(calc(-0.15em * 3 - 0.08em * 2)); 
            transition: 0.3s;
            z-index: 2;
        } 
        &:before,&:after{
                content: '';
                position: absolute;
                width: inherit;
                border-left: inherit;
                
        }
        &:before{
                height: 80%;
                top: 10%;
                left: calc(-0.15em - 0.08em * 2);
                filter: brightness(0.8);
                z-index: 1;
        } 
        &:after{
                height: 60%;
                top: 20%;
                left: calc(-0.15em * 2 - 0.08em * 3);
                filter: brightness(0.6);
                z-index: 1;
        } 
        &:hover{ 
            span{
                transform: translateX(0.15em); 
            } 
        }
    } 
}
/* ----------9---------- */

/* ----------10---------- */ 
.button-morph {
    button{  
        border: 0; 
        border-radius: 30px;
        text-shadow: 0px 5px #0f388a, 0px 2px 4px #003;
        box-shadow: 0px 0px 0px 15px #e61a80, 0px 10px 0px 15px #b81466, 0px 20px 20px 15px #003;
        cursor: pointer;
        border-radius: 100px 30px 100px 30px;
        
        span{
            margin-top: 20px;
            transform: rotate(-3deg);
        }
        &:hover{
            animation: .8s morph ease infinite;
            p{
                animation: .8s rot ease infinite;
            }
        }
    }
    
}

@keyframes morph {
	0% {
		border-radius: 100px 30px 100px 30px;
	} 50% {
		border-radius: 30px 100px 30px 100px;
	} 100% {
		border-radius: 100px 30px 100px 30px;
	}
}

@keyframes rot {
	0% {
		transform: rotate(-3deg);
	} 50% {
		transform: rotate(3deg);
	} 100% {
		transform: rotate(-3deg);
	}
}

/* ----------10---------- */