/* ----------21---------- */
.button-swap{ 
    button{ 
        font-size: 40px;
        cursor: pointer;
        position: relative;
        border: 2px solid white;
        border-radius: 0;
        outline: none;
        color: white;
        background-color: transparent; 
        font-family: 'Merriweather', serif;
        white-space: nowrap;
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 15px 30px;
            font-size: 40px;
            box-sizing: border-box;
            opacity: 0;
            color: black;
            transition: 0.35s ease;
        }
        &:before {
            content: "";
            left: 0;
            top: 0;
            position: absolute;
            width: 0;
            height: 100%;
            background-color: white;
            transition: 0.5s ease;
        }
        &:hover{
            &:before{
                width: 100%;
            }
            span{
                opacity: 1;
            }
        }
   } 
}
/* ----------21---------- */
/* ----------22---------- */
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
.button-strech{ 
    
    button { 
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;

        width: 14rem;
        height: auto;

        .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: relative;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: #282936;
            border-radius: 1.625rem;
            .icon {
                @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: #ffffff;
                &.arrow {
                @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                &:before {
                    position: absolute;
                    content: '';
                    top: -0.25rem;
                    right: 0.0625rem;
                    width: 0.625rem;
                    height: 0.625rem;
                    border-top: 0.125rem solid #fff;
                    border-right: 0.125rem solid #fff;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 3rem;
            color: #282936;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }
    }
    &:hover {
        .circle {
            width: 100%;
            .icon {
                &.arrow {
                    background: #ffffff;
                    transform: translate(1rem, 0);
                }
            }
        }
        .button-text {
            color: #ffffff;
        }
    } 
}
 
/* ----------22---------- */

.button-flourish{ 
    .add{
        width: 84px;
        height: 84px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        transition: -webkit-transform .4s ease;
        transition: transform .4s ease; 

        a{
            display: block;
            position: relative;
            width: 50%;
            padding-bottom: 50%;
            background: #5628EE;
            -webkit-backface-visibility: hidden;
            transition: border-radius .3s ease, -webkit-transform .2s ease;
            transition: border-radius .3s ease, transform .2s ease;
            transition: border-radius .3s ease, transform .2s ease, -webkit-transform .2s ease;
            svg{
                display: block;
                width: 14px;
                height: 14px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -7px 0 0 -7px;
                opacity: 0;
                fill: #fff;
                -webkit-transform: scale(0.6) rotate(-45deg);
                transform: scale(0.6) rotate(-45deg);
                transition: all .15s ease;
                -webkit-backface-visibility: hidden;
            }
            &:nth-child(1){
                border-radius: 8px 0 0 0;
            }
            &:nth-child(2) {
                border-radius: 0 0 0 8px;
            }
            &:nth-child(3) {
                border-radius: 0 8px 0 0;
            }
            &:nth-child(4) {
                border-radius: 0 0 8px 0;
            }
        }
        &:before, &:after{
            content: '';
            width: 28px;
            height: 6px;
            border-radius: 3px;
            background: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
            z-index: 1;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            transition: -webkit-transform .25s ease;
            transition: transform .25s ease;
            transition: transform .25s ease, -webkit-transform .25s ease;

        }
        &:before{
             -webkit-transform: translate(-50%, -50%) scaleY(0.76);
          transform: translate(-50%, -50%) scaleY(0.76); 
        }
        &:after{
            -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76);
          transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76);
        }
        &:hover{
            -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
            transition: -webkit-transform .4s ease .1s;
            transition: transform .4s ease .1s;
            transition: transform .4s ease .1s, -webkit-transform .4s ease .1s;
            &:before{
                -webkit-transform: translate(-50%, -50%) scaleY(0.76) scaleX(3);
                transform: translate(-50%, -50%) scaleY(0.76) scaleX(3);
            }
            &:after{
                 -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76) scaleX(3);
                transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76) scaleX(3);
            }
            a{
                --scale: 1;
                pointer-events: none;
                border-radius: 50%;
                -webkit-animation: pointerEvent 0s linear forwards .4s;
                        animation: pointerEvent 0s linear forwards .4s;
                transition: border-radius .15s ease .1s, -webkit-transform .25s ease .15s;
                transition: border-radius .15s ease .1s, transform .25s ease .15s;
                transition: border-radius .15s ease .1s, transform .25s ease .15s, -webkit-transform .2;
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
                    -webkit-transform: translate(-6px, -6px) scale(var(--scale));
                    transform: translate(-6px, -6px) scale(var(--scale));
                }
                svg {
                    opacity: .7;
                    transition: all .3s ease .2s;
                    -webkit-transform: scale(1) rotate(-45deg);
                            transform: scale(1) rotate(-45deg);
                }
                &:hover{
                    --scale: .92;
                    transition: border-radius .2s ease .1s, -webkit-transform .25s ease 0s;
                    transition: border-radius .2s ease .1s, transform .25s ease 0s;
                    transition: border-radius .2s ease .1s, transform .25s ease 0s, -webkit-transform .25s ease 0s;
                    svg{
                        opacity: 1;
                        transition: all .3s ease 0s;
                    }
                }
            }
        }  
    }
   

}

@-webkit-keyframes pointerEvent {
  100% {
    pointer-events: auto;
  }
}

@keyframes pointerEvent {
  100% {
    pointer-events: auto;
  }
}