/* ----------71---------- */
.button-neon{
    .fuller-button {
        color: white;
        background: none;
        border-radius: 0;
        padding: 1.2em 5em;
        letter-spacing: 0.35em;
        font-size: 0.7em;
        transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
        margin: 1em;
        cursor: pointer;
    }
    .fuller-button.blue {
        box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
        border: #0dd solid 2px;
        &:hover {
            background-color: #0dd;
            box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
        }
    }
}
/* ----------71---------- */
/* ----------72---------- */
.button-cube{
    .boton {
        width: 200px;
        height: 50px;
        margin: 0 auto;
        display: block;
        position: relative; 
        .botontext {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            text-align: center;
            line-height: 50px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            &:nth-of-type(1) {
                color: #3d3b40;
                bottom: 100%;
                transform-origin: center bottom 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
            &:nth-of-type(2) {
                color: #fff;
                top: 100%;
                transform-origin: center top 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
        } 
        .twist {
            display: block;
            height: 100%;
            width: 25%;
            position: relative;
            float: left;
            margin-left: -4px;
            &:nth-of-type(1) {
                margin-left: 0;
                &:before,&:after{
                    transition-delay: 0s;
                }
            }
            &:nth-of-type(2) { 
                &:before,&:after{
                    transition-delay: 0.1s;
                }
            }
            &:nth-of-type(3) { 
                &:before,&:after{
                    transition-delay: 0.2s;
                }
            }
            &:nth-of-type(4) { 
                &:before,&:after{
                    transition-delay: 0.3s;
                }
            }
            &:before{
                content: "";
                width: 100%;
                height: 100%;
                background: #fed5a9;
                bottom: 100%;
                position: absolute;
                transform-origin: center bottom 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                top: 100%;
                height: 100%;
                background: #9f7f5e;
                transform-origin: center top 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
        }
        &:hover{
             .twist{
                 &:before {
                    background: #fff;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, 0.003, 
                                        0, 50, 0, 1);
                }
                &:after{ 
                    background: #dedae1;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 0, -1, 0.003, 
                                        0, 1, 0, 0, 
                                        0, 0, 0, 1); 
                }
             }
             .botontext{
                &:nth-of-type(1) {
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, 0.003, 
                                        0, 50, 0, 1);
                }
                &:nth-of-type(2) {
                    color: #fff;
                    top: 100%;
                    transform-origin: center top 0px;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, -0.003, 
                                        0, -50, 0, 1); 
                    -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                    -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                    -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                        transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
                }
                &:nth-of-type(2) {
                        transform: matrix3d(1, 0, 0, 0, 
                                        0, 0, -1, 0.003, 
                                        0, 1, 0, 0, 
                                        0, 0, 0, 1);
                }
             }
        }
    }
}
/* ----------72---------- */
/* ----------73---------- */
/* ----------73---------- */
/* ----------74---------- */
/* ----------74---------- */
/* ----------75---------- */
/* ----------75---------- */
/* ----------76---------- */
/* ----------76---------- */
/* ----------77---------- */
/* ----------77---------- */
/* ----------78---------- */
/* ----------78---------- */
/* ----------79---------- */
/* ----------79---------- */
/* ----------80---------- */
/* ----------80---------- */