/* ----------71---------- */
.button-neon{
    .fuller-button {
        color: white;
        background: none;
        border-radius: 0;
        padding: 1.2em 5em;
        letter-spacing: 0.35em;
        font-size: 0.7em;
        transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
        margin: 1em;
        cursor: pointer;
    }
    .fuller-button.blue {
        box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
        border: #0dd solid 2px;
        &:hover {
            background-color: #0dd;
            box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
        }
    }
}
/* ----------71---------- */
/* ----------72---------- */
.button-cube{
    .boton {
        width: 200px;
        height: 50px;
        margin: 0 auto;
        display: block;
        position: relative; 
        .botontext {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            text-align: center;
            line-height: 50px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            &:nth-of-type(1) {
                color: #3d3b40;
                bottom: 100%;
                transform-origin: center bottom 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
            &:nth-of-type(2) {
                color: #fff;
                top: 100%;
                transform-origin: center top 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
        } 
        .twist {
            display: block;
            height: 100%;
            width: 25%;
            position: relative;
            float: left;
            margin-left: -4px;
            &:nth-of-type(1) {
                margin-left: 0;
                &:before,&:after{
                    transition-delay: 0s;
                }
            }
            &:nth-of-type(2) { 
                &:before,&:after{
                    transition-delay: 0.1s;
                }
            }
            &:nth-of-type(3) { 
                &:before,&:after{
                    transition-delay: 0.2s;
                }
            }
            &:nth-of-type(4) { 
                &:before,&:after{
                    transition-delay: 0.3s;
                }
            }
            &:before{
                content: "";
                width: 100%;
                height: 100%;
                background: #fed5a9;
                bottom: 100%;
                position: absolute;
                transform-origin: center bottom 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                top: 100%;
                height: 100%;
                background: #9f7f5e;
                transform-origin: center top 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
        }
        &:hover{
             .twist{
                 &:before {
                    background: #fff;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, 0.003, 
                                        0, 50, 0, 1);
                }
                &:after{ 
                    background: #dedae1;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 0, -1, 0.003, 
                                        0, 1, 0, 0, 
                                        0, 0, 0, 1); 
                }
             }
             .botontext{
                &:nth-of-type(1) {
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, 0.003, 
                                        0, 50, 0, 1);
                }
                &:nth-of-type(2) {
                    color: #fff;
                    top: 100%;
                    transform-origin: center top 0px;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, -0.003, 
                                        0, -50, 0, 1); 
                    -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                    -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                    -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                        transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
                }
                &:nth-of-type(2) {
                        transform: matrix3d(1, 0, 0, 0, 
                                        0, 0, -1, 0.003, 
                                        0, 1, 0, 0, 
                                        0, 0, 0, 1);
                }
             }
        }
    }
}
/* ----------72---------- */
/* ----------73---------- */
.button-favourite{
    .favourite {
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 60px;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 60px;
        cursor: pointer;
        animation-duration: 0.6s;
        animation-timing-function: initial;
        animation-delay: initial;
        animation-iteration-count: initial;
        animation-direction: initial;
        animation-fill-mode: initial;
        animation-play-state: initial;
        animation-name: pop;
        padding-top: 20px;
        box-shadow: white 0px 0px 0px 3px;
        color: white;
        transition-property: width;
        transition-duration: 0.2s, 0.2s;
        transition-timing-function: cubic-bezier(0.38, -0.35, 0.265, 1.15);  
        position: relative;
        margin: auto;
        &:hover {
            width: 186px;
            box-shadow: 0px 0px 0px 3px white;
            .favourite_heart {
                .favourite_heart__left {
                    transform: scale(1.1) rotate(-45deg);
                    transition-property: transform;
                    transition-duration: .1s;
                } 
            }
            .favourite_text {
                top: 1px;
                opacity: 1;
                transition-property: top,opacity;
                transition-duration: 0.3s;
                transition-delay: .3s;
            }
        }
        .favourite_heart {
            position: absolute;
            top: 19px;
            left: 20px;
            margin-right: 10px;
            .favourite_heart__left {
                background: #CB3D3D;
                width: 14px;
                height: 24px;
                transform: rotate(-45deg);
                position: absolute;
                left: 0px;
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
            }
            .favourite_heart__right {
                background: #CB3D3D;
                width: 14px;
                height: 24px;
                transform: rotate(45deg);
                position: absolute;
                left: 8px;
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
            }
        }
        .favourite_text {
            margin-left: 63px;
            top: 7px;
            opacity: 0;
            position: relative;
            span{
                color: white;
                text-transform: uppercase;
                font-weight: normal;
                font-size: 12px;
            }
        }
    }
}
/* ----------73---------- */
/* ----------74---------- */
.button-like{
    .like-button {
        border: 2px solid #ff6e6f;
        border-radius: 40px;
        padding: .45rem .75rem;
        color: #ff6e6f;
        border-color: currentColor; 
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .like-icon {
            width: 18px;
            height: 16px;
            display: inline-block;
            position: relative;
            margin-right: .25em;
            font-size: 1.5rem;
            background: url("../images/heart.svg") no-repeat center;
            background-size: 100%; 
            .heart-animation-1, .heart-animation-2{
                background: url("../images/heart.svg") no-repeat center;
                background-size: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 14px;
                opacity: 0;
            } 
            .heart-animation-1 { 
                &:before,&:after{
                    content: '';
                    background: inherit;
                    background-size: 100%;
                    width: inherit;
                    height: inherit;
                    display: inherit;
                    position: relative;
                    top: inherit;
                    left: inherit;
                    opacity: 0;

                    width: 12px;
                    height: 10px;
                    visibility: hidden;
                }  
            }
            .heart-animation-2 { 
                &:before,&:after{
                    content: '';
                    background: inherit;
                    background-size: 100%;
                    width: inherit;
                    height: inherit;
                    display: inherit;
                    position: relative;
                    top: inherit;
                    left: inherit;
                    opacity: 0;

                    width: 10px;
                    height: 8px;
                    visibility: hidden;
                } 
            }
        }
        &:hover{
            .like-icon{
                -webkit-animation: heartPulse 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                animation: heartPulse 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                .heart-animation-1 {
                    -webkit-animation: heartFloatMain-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                    animation: heartFloatMain-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; 
                    &:before{
                        opacity: .6;
                        -webkit-animation: heartFloatSub-1 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                        animation: heartFloatSub-1 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                    }
                    &:after{
                        -webkit-animation: heartFloatSub-2 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                        animation: heartFloatSub-2 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                        opacity: .75;
                    }
                }
                .heart-animation-2 {
                    -webkit-animation: heartFloatMain-2 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                    animation: heartFloatMain-2 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; 
                    &:before{
                        -webkit-animation: heartFloatSub-3 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                        animation: heartFloatSub-3 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                        opacity: .25;
                    }
                    &:after{
                        -webkit-animation: heartFloatSub-4 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                        animation: heartFloatSub-4 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                        opacity: .4;
                    }
                }
            } 
        }
    }
}
@-webkit-keyframes heartPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes heartPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@-webkit-keyframes heartUnlike {
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
@keyframes heartUnlike {
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
@-webkit-keyframes heartFloatMain-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -25px) rotate(-20deg);
            transform: translate(0, -25px) rotate(-20deg);
  }
}
@keyframes heartFloatMain-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -25px) rotate(-20deg);
            transform: translate(0, -25px) rotate(-20deg);
  }
}
@-webkit-keyframes heartFloatMain-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0) rotate(0) scale(0);
            transform: translate(0) rotate(0) scale(0);
  }
  50% {
    opacity: .9;
    -webkit-transform: translate(-10px, -38px) rotate(25deg) scale(1);
            transform: translate(-10px, -38px) rotate(25deg) scale(1);
  }
}
@keyframes heartFloatMain-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0) rotate(0) scale(0);
            transform: translate(0) rotate(0) scale(0);
  }
  50% {
    opacity: .9;
    -webkit-transform: translate(-10px, -38px) rotate(25deg) scale(1);
            transform: translate(-10px, -38px) rotate(25deg) scale(1);
  }
}
@-webkit-keyframes heartFloatSub-1 {
  0% {
    visibility: hidden;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(13px, -13px) rotate(30deg);
            transform: translate(13px, -13px) rotate(30deg);
  }
}
@keyframes heartFloatSub-1 {
  0% {
    visibility: hidden;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(13px, -13px) rotate(30deg);
            transform: translate(13px, -13px) rotate(30deg);
  }
}
@-webkit-keyframes heartFloatSub-2 {
  0% {
    visibility: hidden;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(18px, -10px) rotate(55deg);
            transform: translate(18px, -10px) rotate(55deg);
  }
}
@keyframes heartFloatSub-2 {
  0% {
    visibility: hidden;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(18px, -10px) rotate(55deg);
            transform: translate(18px, -10px) rotate(55deg);
  }
}
@-webkit-keyframes heartFloatSub-3 {
  0% {
    visibility: hidden;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(-10px, -10px) rotate(-40deg);
            transform: translate(-10px, -10px) rotate(-40deg);
  }
  100% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
}
@keyframes heartFloatSub-3 {
  0% {
    visibility: hidden;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(-10px, -10px) rotate(-40deg);
            transform: translate(-10px, -10px) rotate(-40deg);
  }
  100% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
}
@-webkit-keyframes heartFloatSub-4 {
  0% {
    visibility: hidden;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(2px, -18px) rotate(-25deg);
            transform: translate(2px, -18px) rotate(-25deg);
  }
}
@keyframes heartFloatSub-4 {
  0% {
    visibility: hidden;
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    -webkit-transform: translate(2px, -18px) rotate(-25deg);
            transform: translate(2px, -18px) rotate(-25deg);
  }
}
/* ----------74---------- */
/* ----------75---------- */
.button-firework{
    .button{
        width:58px;
        margin: auto;
    }
    svg {
        cursor: pointer;
        overflow: visible;
        width: 60px;
        #heart {
            transform-origin: center;
            animation: animateHeartOut .3s linear forwards;
        }
        #main-circ {
            transform-origin: 29.5px 29.5px;
        }
    }   
    #checkbox {
        display: none;
        &:checked + label svg #heart {
            transform: scale(0.2);
            fill: #E2264D;
            animation: animateHeart .3s linear forwards .25s;
        }
        &:checked + label svg #main-circ {
            transition: all 2s;
            animation: animateCircle .3s linear forwards;
            opacity: 1;
        }
        &:checked + label svg #grp1 {
            opacity: 1;
            transition: .1s all .3s;
        }
        &:checked + label svg #grp1 #oval1 {
            transform: scale(0) translate(0, -30px);
            transform-origin: 0 0 0;
            transition: .5s transform .3s;
        }
        &:checked + label svg #grp1 #oval2 {
            transform: scale(0) translate(10px, -50px);
            transform-origin: 0 0 0;
            transition: 1.5s transform .3s;
        }
        &:checked + label svg #grp2 {
            opacity: 1;
            transition: .1s all .3s;
        } 
        &:checked + label svg #grp2 #oval1 {
            transform: scale(0) translate(30px, -15px);
            transform-origin: 0 0 0;
            transition: .5s transform .3s;
        }
        &:checked + label svg #grp2 #oval2 {
            transform: scale(0) translate(60px, -15px);
            transform-origin: 0 0 0;
            transition: 1.5s transform .3s;
        }
        &:checked + label svg #grp3 {
            opacity: 1;
            transition: .1s all .3s;
        }
        &:checked + label svg #grp3 #oval1 {
            transform: scale(0) translate(30px, 0px);
            transform-origin: 0 0 0;
            transition: .5s transform .3s;
        }
        &:checked + label svg #grp3 #oval2 {
            transform: scale(0) translate(60px, 10px);
            transform-origin: 0 0 0;
            transition: 1.5s transform .3s;
        }
        &:checked + label svg #grp4 {
            opacity: 1;
            transition: .1s all .3s;
        }
        &:checked + label svg #grp4 #oval1 {
            transform: scale(0) translate(30px, 15px);
            transform-origin: 0 0 0;
            transition: .5s transform .3s;
        }
        &:checked + label svg #grp4 #oval2 {
            transform: scale(0) translate(40px, 50px);
            transform-origin: 0 0 0;
            transition: 1.5s transform .3s;
        }
        &:checked + label svg #grp5 {
            opacity: 1;
            transition: .1s all .3s;
        }
        &:checked + label svg #grp5 #oval1 {
            transform: scale(0) translate(-10px, 20px);
            transform-origin: 0 0 0;
            transition: .5s transform .3s;
        }
        &:checked + label svg #grp5 #oval2 {
            transform: scale(0) translate(-60px, 30px);
            transform-origin: 0 0 0;
            transition: 1.5s transform .3s;
        }
        &:checked + label svg #grp6 {
            opacity: 1;
            transition: .1s all .3s;
        }
        &:checked + label svg #grp6 #oval1 {
            transform: scale(0) translate(-30px, 0px);
            transform-origin: 0 0 0;
            transition: .5s transform .3s;
        }
        &:checked + label svg #grp6 #oval2 {
            transform: scale(0) translate(-60px, -5px);
            transform-origin: 0 0 0;
            transition: 1.5s transform .3s;
        }
        &:checked + label svg #grp7 {
            opacity: 1;
            transition: .1s all .3s;
        }
        &:checked + label svg #grp7 #oval1 {
            transform: scale(0) translate(-30px, -15px);
            transform-origin: 0 0 0;
            transition: .5s transform .3s;
        }
        &:checked + label svg #grp7 #oval2 {
            transform: scale(0) translate(-55px, -30px);
            transform-origin: 0 0 0;
            transition: 1.5s transform .3s;
        }
        &:checked + label svg #grp2 {
            opacity: 1;
            transition: .1s opacity .3s;
        }
        &:checked + label svg #grp3 {
            opacity: 1;
            transition: .1s opacity .3s;
        }
        &:checked + label svg #grp4 {
            opacity: 1;
            transition: .1s opacity .3s;
        }
        &:checked + label svg #grp5 {
            opacity: 1;
            transition: .1s opacity .3s;
        }
        &:checked + label svg #grp6 {
            opacity: 1;
            transition: .1s opacity .3s;
        }
        &:checked + label svg #grp7 {
            opacity: 1;
            transition: .1s opacity .3s;
        }
    } 
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
/* ----------75---------- */
/* ---------- 76-80 ---------- */
.button-books{
    position: relative;
    ul{
        list-style: none;
    }
    .deck {
        position: absolute;
        width: 10em;
        height: 13em;
        top: 50%;
        left: 50%;
        margin: -6.5em 0 0 -5em;
        -webkit-backface-visibility: hidden;
        font-family: 'Ubuntu', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        text-align: center;
        .deck__item {
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: .3em;
            border: 0.1em solid rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3), inset 0 6em 6em rgba(255, 255, 255, 0.1);
            transform-origin: 90% 92%;
            transition: .3s;
            &:last-of-type:before {
                content: "";
                position: absolute;
                right: .4em;
                bottom: .9em;
                width: 1.1em;
                height: .15em;
                background: silver;
                background: rgba(0, 0, 0, 0.1);
                z-index: 2;
            }
            &:hover ~ .deck__item {
                transform: rotate(120deg);
            } 
            &:last-of-type:after {
                content: "";
                position: absolute;
                left: 90%;
                top: 92%;
                border-radius: 50%;
                width: 1.2em;
                height: 1.2em;
                background: white;
                margin: -.6em 0 0 -.6em;
                box-shadow: inset 0 1px 1px white, inset 0 -0.3em 0.2em #dddcdb, 0 0 0.6em rgba(0, 0, 0, 0.2);
            }
            .deck__link {
                text-decoration: none;
                display: block;
                color: white;
                color: rgba(255, 255, 255, 0.8);
                .deck__icon {
                    font-family: 'FontAwesome', sans-serif;
                    font-size: 4em;
                    color: black;
                    color: rgba(0, 0, 0, 0.6);
                    display: block;
                    margin: .5em auto;
                } 
            }
        }
        .deck__item--facebook {
            background: #3b5998;
            transform: rotate(-20deg);
        }

        .deck__item--github {
            background: #4183c4;
            transform: rotate(-10deg);
        }

        .deck__item--twitter {
            background: #00a0d1;
            transform: rotate(0deg);
        }

        .deck__item--linkedin {
            background: #0e76a8;
            transform: rotate(10deg);
        }

        .deck__item--pinterest {
            background: #910101;
            transform: rotate(20deg);
        }

        .deck__item--googleplus {
            background: #db4a39;
            transform: rotate(30deg);
        }
    }   
} 

/* ---------- 76-80 ---------- */