/* ----------91---------- */
.button-hoverglow{
    .glow-on-hover {
        font-size: 10px;
        width: 260px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px; 
        &:before,&:after{
            position: relative;
        }
        &:before{
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }
        &:after{
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #111;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
        &:active{
            color: #000;
            &:after{
                background: transparent;
            } 
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* ----------91---------- */
/* ----------92---------- */
.button-dissolve{
    .button-container-1 {
        position: relative;
        width: 160px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6vh;
        overflow: hidden;
        border: 1px solid;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        transition: 0.5s;
        letter-spacing: 1px;
        border: 1px solid #000;
        .mas {
            position: absolute;
            color: #000;
            text-align: center;
            width: 101%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            position: absolute;
            font-size: 20px;
            margin-top: 12px;
            overflow: hidden;
        }
        button{
            width: 101%;
            height: 100%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 1px;
            background: #000;
            -webkit-mask: url("../images/nature-sprite.png");
            mask: url("../images/nature-sprite.png");
            -webkit-mask-size: 2300% 100%;
            mask-size: 2300% 100%;
            border-radius: 0;
            border: none;
            color: #fff;
            cursor: pointer;
            -webkit-animation: ani2 0.7s steps(22) forwards;
            animation: ani2 0.7s steps(22) forwards;
            &:hover{
                -webkit-animation: ani 0.7s steps(22) forwards;
                animation: ani 0.7s steps(22) forwards;
            }
        }
    }
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
/* ----------92---------- */
/* ----------93---------- */
.button-scrape{
   .button-container-2 {
        position: relative;
        width: 140px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7vh;
        overflow: hidden;
        border: 1px solid #000;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        transition: 0.5s;
        letter-spacing: 1px;
        .mas {
            position: absolute;
            color: #000;
            text-align: center;
            width: 101%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            position: absolute;
            font-size: 20px;
            margin-top: 12px;
            overflow: hidden;
        }

        button {
            width: 101%;
            height: 100%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 1px;
            background: #000;
            -webkit-mask: url("../images/urban-sprite.png");
            mask: url("../images/urban-sprite.png");
            -webkit-mask-size: 3000% 100%;
            mask-size: 3000% 100%;
            border-radius: 0;
            border: none;
            color: #fff;
            cursor: pointer;
            -webkit-animation: ani2 0.7s steps(29) forwards;
            animation: ani2 0.7s steps(29) forwards;
            &:hover {
                -webkit-animation: ani 0.7s steps(29) forwards;
                animation: ani 0.7s steps(29) forwards;
            }
        }
    } 
}
/* ----------93---------- */
/* ----------94---------- */
.button-melt{
    .button-container-3 {
        position: relative;
        width: 160px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vh;
        overflow: hidden;
        border: 1px solid #000;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        transition: 0.5s;
        letter-spacing: 1px;
        button {
            width: 101%;
            height: 100%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 1px;
            background: #000;
            -webkit-mask: url("../images/nature-sprite-2.png");
            mask: url("../images/nature-sprite-2.png");
            -webkit-mask-size: 7100% 100%;
            mask-size: 7100% 100%;
            border-radius: 0;
            border: none;
            color: #fff;
            cursor: pointer;
            -webkit-animation: ani2 0.7s steps(70) forwards;
            animation: ani2 0.7s steps(70) forwards;
            &:hover {
                -webkit-animation: ani 0.7s steps(70) forwards;
                animation: ani 0.7s steps(70) forwards;
            }
        }
        .mas {
            position: absolute;
            color: #000;
            text-align: center;
            width: 101%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            position: absolute;
            font-size: 20px;
            margin-top: 12px;
            overflow: hidden;
        }
    }
}
/* ----------94---------- */
/* ----------95---------- */
.button-ercode{
    .stretch, .button:after, .button:before {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    } 
    .button {
        background: #0962EA;
        background-size: 100%;
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0962EA), color-stop(100%, #0AA0F6));
        background-image: -moz-linear-gradient(left, #0962EA, #0AA0F6);
        background-image: -webkit-linear-gradient(left, #0962EA, #0AA0F6);
        background-image: linear-gradient(to right, #0962EA, #0AA0F6);
        -moz-border-radius: 1.5em;
        -webkit-border-radius: 1.5em;
        border-radius: 1.5em;
        -moz-transition: opacity 300ms;
        -o-transition: opacity 300ms;
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
        border: none;
        padding: 20px 30px;
        color: #FAF15D;
        font-weight: bold;
        letter-spacing: 0.05em;
        outline: none;
        overflow: hidden;
        cursor: pointer;
        z-index: 99;
        &:after {
            -moz-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
            -webkit-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
            box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
            background: #FAF15D;
            content: "";
            height: 2px;
            opacity: 0;
        }
        &:before {
            content: "";
            opacity: 0;
        }
        &:hover {
            -webkit-animation: glitch 750ms infinite;
            &:before {
                opacity: 1;
            }
            &:after {
                -webkit-animation: scan 2s infinite;
                opacity: 1;
            }
        }
    }     
}
@-webkit-keyframes glitch {
  0% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  5% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
    opacity: 0.75;
  }
  10% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  15% {
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 0.75;
  }
  20% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  45% {
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    opacity: 0.75;
  }
  50% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  55% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 0.75;
  }
  60% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  75% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  80% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  85% {
    -moz-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    opacity: 0.75;
  }
  90% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}
@-webkit-keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 97%;
  }
  100% {
    top: 0%;
  }
}
/* ----------95---------- */
/* ----------96---------- */
.button-weee{
    -webkit-perspective: 288px;
    perspective: 288px;
    .tag {
        position: relative;
        display: block;
        background-color: #FFF;
        font-weight: 700;
        font-size: 1rem;
        border: none;
        outline: none;
        min-width: 150px;
        text-align: center;
        box-sizing: border-box;
        padding: 25px 20px;
        border-radius: 0;
        text-decoration: none;
        color: #000;
        letter-spacing: 2px;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        &:before {
            content: attr(data-content-default);
        }
        &:active {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            -webkit-animation: spinner 200ms infinite linear;
                animation: spinner 200ms infinite linear;
            &:before {
                content: attr(data-content-spinning);
            }
        }
        &:after,&:before{
            position: relative;
        }
    }
}
@-webkit-keyframes spinner {
  from {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(0) rotateY(-360deg);
            transform: rotateX(0) rotateY(-360deg);
  }
  to {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(360deg) rotateY(-360deg);
            transform: rotateX(360deg) rotateY(-360deg);
  }
}
@keyframes spinner {
  from {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(0) rotateY(-360deg);
            transform: rotateX(0) rotateY(-360deg);
  }
  to {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(360deg) rotateY(-360deg);
            transform: rotateX(360deg) rotateY(-360deg);
  }
}
/* ----------96---------- */
/* ----------97---------- */
.button-folding{
    .cont { 
        position: relative;
        height: 40px;
            width: 120px;
        a{
            z-index: 2;
            display: block;
            line-height: 40px;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            color: #eff1c5;
            transition: all 0.3s;
            position: absolute;
            top: 0;
            left: 0;
            height: 40px;
            width: 120px;
            &:hover{
                transform: scale(1.1);
                color: #035e7b;
                line:nth-child(odd) {
                    transform: scaleY(1.2);
                }
                line:nth-child(even) {
                    transform: scaleY(-0.2);
                }
            }   
        }
        svg{
            position: absolute;
            height: 40px;
            width: 120px;
            overflow: visible;
            line {
                stroke: #035e7b;
                stroke-width: 1px;
                transition: all 0.3s;
                transform-origin: 50% 0%; 
                &:nth-child(1) {
                    transition-delay: 0.0024793388s;
                }
                &:nth-child(2) {
                    transition-delay: 0.0049586777s;
                }
                &:nth-child(3) {
                    transition-delay: 0.0074380165s;
                }
                &:nth-child(4) {
                    transition-delay: 0.0099173554s;
                }
                &:nth-child(5) {
                    transition-delay: 0.0123966942s;
                }
                &:nth-child(6) {
                    transition-delay: 0.0148760331s;
                }
                &:nth-child(7) {
                    transition-delay: 0.0173553719s;
                }
                &:nth-child(8) {
                    transition-delay: 0.0198347107s;
                }
                &:nth-child(9) {
                    transition-delay: 0.0223140496s;
                }
                &:nth-child(10) {
                    transition-delay: 0.0247933884s;
                }
                &:nth-child(11) {
                    transition-delay: 0.0272727273s;
                }
                &:nth-child(12) {
                    transition-delay: 0.0297520661s;
                }
                &:nth-child(13) {
                    transition-delay: 0.032231405s;
                }
                &:nth-child(14) {
                    transition-delay: 0.0347107438s;
                }
                &:nth-child(15) {
                    transition-delay: 0.0371900826s;
                }
                &:nth-child(16) {
                    transition-delay: 0.0396694215s;
                }
                &:nth-child(17) {
                    transition-delay: 0.0421487603s;
                }
                &:nth-child(18) {
                    transition-delay: 0.0446280992s;
                }
                &:nth-child(19) {
                    transition-delay: 0.047107438s;
                }
                &:nth-child(20) {
                    transition-delay: 0.0495867769s;
                }
                &:nth-child(21) {
                    transition-delay: 0.0520661157s;
                }
                &:nth-child(22) {
                    transition-delay: 0.0545454545s;
                }
                &:nth-child(23) {
                    transition-delay: 0.0570247934s;
                }
                &:nth-child(24) {
                    transition-delay: 0.0595041322s;
                }
                &:nth-child(25) {
                    transition-delay: 0.0619834711s;
                }
                &:nth-child(26) {
                    transition-delay: 0.0644628099s;
                }
                &:nth-child(27) {
                    transition-delay: 0.0669421488s;
                }
                &:nth-child(28) {
                    transition-delay: 0.0694214876s;
                }
                &:nth-child(29) {
                    transition-delay: 0.0719008264s;
                }
                &:nth-child(30) {
                    transition-delay: 0.0743801653s;
                }
                &:nth-child(31) {
                    transition-delay: 0.0768595041s;
                }
                &:nth-child(32) {
                    transition-delay: 0.079338843s;
                }
                &:nth-child(33) {
                    transition-delay: 0.0818181818s;
                }
                &:nth-child(34) {
                    transition-delay: 0.0842975207s;
                }
                &:nth-child(35) {
                    transition-delay: 0.0867768595s;
                }
                &:nth-child(36) {
                    transition-delay: 0.0892561983s;
                }
                &:nth-child(37) {
                    transition-delay: 0.0917355372s;
                }
                &:nth-child(38) {
                    transition-delay: 0.094214876s;
                }
                &:nth-child(39) {
                    transition-delay: 0.0966942149s;
                }
                &:nth-child(40) {
                    transition-delay: 0.0991735537s;
                }
                &:nth-child(41) {
                    transition-delay: 0.1016528926s;
                }
                &:nth-child(42) {
                    transition-delay: 0.1041322314s;
                }
                &:nth-child(43) {
                    transition-delay: 0.1066115702s;
                }
                &:nth-child(44) {
                    transition-delay: 0.1090909091s;
                }
                &:nth-child(45) {
                    transition-delay: 0.1115702479s;
                }
                &:nth-child(46) {
                    transition-delay: 0.1140495868s;
                }
                &:nth-child(47) {
                    transition-delay: 0.1165289256s;
                }
                &:nth-child(48) {
                    transition-delay: 0.1190082645s;
                }
                &:nth-child(49) {
                transition-delay: 0.1214876033s;
                }
                &:nth-child(50) {
                transition-delay: 0.1239669421s;
                }
                &:nth-child(51) {
                transition-delay: 0.126446281s;
                }
                &:nth-child(52) {
                transition-delay: 0.1289256198s;
                }
                &:nth-child(53) {
                transition-delay: 0.1314049587s;
                }
                &:nth-child(54) {
                transition-delay: 0.1338842975s;
                }
                &:nth-child(55) {
                transition-delay: 0.1363636364s;
                }
                &:nth-child(56) {
                transition-delay: 0.1388429752s;
                }
                &:nth-child(57) {
                transition-delay: 0.141322314s;
                }
                &:nth-child(58) {
                transition-delay: 0.1438016529s;
                }
                &:nth-child(59) {
                transition-delay: 0.1462809917s;
                }
                &:nth-child(60) {
                transition-delay: 0.1487603306s;
                }
                &:nth-child(61) {
                transition-delay: 0.1512396694s;
                }
                &:nth-child(62) {
                transition-delay: 0.1537190083s;
                }
                &:nth-child(63) {
                transition-delay: 0.1561983471s;
                }
                &:nth-child(64) {
                transition-delay: 0.158677686s;
                }
                &:nth-child(65) {
                transition-delay: 0.1611570248s;
                }
                &:nth-child(66) {
                transition-delay: 0.1636363636s;
                }
                &:nth-child(67) {
                transition-delay: 0.1661157025s;
                }
                &:nth-child(68) {
                transition-delay: 0.1685950413s;
                }
                &:nth-child(69) {
                transition-delay: 0.1710743802s;
                }
                &:nth-child(70) {
                transition-delay: 0.173553719s;
                }
                &:nth-child(71) {
                transition-delay: 0.1760330579s;
                }
                &:nth-child(72) {
                transition-delay: 0.1785123967s;
                }
                &:nth-child(73) {
                transition-delay: 0.1809917355s;
                }
                &:nth-child(74) {
                transition-delay: 0.1834710744s;
                }
                &:nth-child(75) {
                transition-delay: 0.1859504132s;
                }
                &:nth-child(76) {
                transition-delay: 0.1884297521s;
                }
                &:nth-child(77) {
                transition-delay: 0.1909090909s;
                }
                &:nth-child(78) {
                transition-delay: 0.1933884298s;
                }
                &:nth-child(79) {
                transition-delay: 0.1958677686s;
                }
                &:nth-child(80) {
                transition-delay: 0.1983471074s;
                }
                &:nth-child(81) {
                transition-delay: 0.2008264463s;
                }
                &:nth-child(82) {
                transition-delay: 0.2033057851s;
                }
                &:nth-child(83) {
                transition-delay: 0.205785124s;
                }
                &:nth-child(84) {
                transition-delay: 0.2082644628s;
                }
                &:nth-child(85) {
                transition-delay: 0.2107438017s;
                }
                &:nth-child(86) {
                transition-delay: 0.2132231405s;
                }
                &:nth-child(87) {
                transition-delay: 0.2157024793s;
                }
                &:nth-child(88) {
                transition-delay: 0.2181818182s;
                }
                &:nth-child(89) {
                transition-delay: 0.220661157s;
                }
                &:nth-child(90) {
                transition-delay: 0.2231404959s;
                }
                &:nth-child(91) {
                transition-delay: 0.2256198347s;
                }
                &:nth-child(92) {
                transition-delay: 0.2280991736s;
                }
                &:nth-child(93) {
                transition-delay: 0.2305785124s;
                }
                &:nth-child(94) {
                transition-delay: 0.2330578512s;
                }
                &:nth-child(95) {
                transition-delay: 0.2355371901s;
                }
                &:nth-child(96) {
                transition-delay: 0.2380165289s;
                }
                &:nth-child(97) {
                transition-delay: 0.2404958678s;
                }
                &:nth-child(98) {
                transition-delay: 0.2429752066s;
                }
                &:nth-child(99) {
                transition-delay: 0.2454545455s;
                }
                &:nth-child(100) {
                transition-delay: 0.2479338843s;
                }
                &:nth-child(101) {
                transition-delay: 0.2504132231s;
                }
                &:nth-child(102) {
                transition-delay: 0.252892562s;
                }
                &:nth-child(103) {
                transition-delay: 0.2553719008s;
                }
                &:nth-child(104) {
                transition-delay: 0.2578512397s;
                }
                &:nth-child(105) {
                transition-delay: 0.2603305785s;
                }
                &:nth-child(106) {
                transition-delay: 0.2628099174s;
                }
                &:nth-child(107) {
                transition-delay: 0.2652892562s;
                }
                &:nth-child(108) {
                transition-delay: 0.267768595s;
                }
                &:nth-child(109) {
                transition-delay: 0.2702479339s;
                }
                &:nth-child(110) {
                transition-delay: 0.2727272727s;
                }
                &:nth-child(111) {
                transition-delay: 0.2752066116s;
                }
                &:nth-child(112) {
                transition-delay: 0.2776859504s;
                }
                &:nth-child(113) {
                transition-delay: 0.2801652893s;
                }
                &:nth-child(114) {
                transition-delay: 0.2826446281s;
                }
                &:nth-child(115) {
                transition-delay: 0.2851239669s;
                }
                &:nth-child(116) {
                transition-delay: 0.2876033058s;
                }
                &:nth-child(117) {
                transition-delay: 0.2900826446s;
                }
                &:nth-child(118) {
                transition-delay: 0.2925619835s;
                }
                &:nth-child(119) {
                transition-delay: 0.2950413223s;
                }
                &:nth-child(120) {
                transition-delay: 0.2975206612s;
                }
                &:nth-child(121) {
                transition-delay: 0.3s;
                }
            }
        }
        a:hover ~ svg > line:nth-child(odd) {
            transform: scaleY(1.2);
            opacity: 0.2;
        }
        a:hover ~ svg > line:nth-child(even) {
            transform: scaleY(-0.2) translateX(-1px);
            opacity: 0.2;
        }
    }
}
/* ----------97---------- */
/* ----------98---------- */
.button-check{
    label {
    display: block;
    width: 160px; 
    background: #CCC;
    height: 80px;
    border-radius: 40px;
    background: linear-gradient(to bottom, #9e9e9e 30%, #f4f4f4);
    box-shadow: 0 2px 0 0 #fff, 0 -2px 0 0 #969494;
    position: relative;
    // Remove mobile tab color
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    input {
        display: none;
    }
    
    div {
        display: block;
        width: 120px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to bottom, #8b8c8e 20%, #f4f4f4);
        border-radius: 25px;
        &:after {
        content: "";
        position: absolute;
        display: block;
        height: 46px;
        width: 116px;
        left: 2px;
        top: 2px;
        border-radius: 23px;
        background: #828080;
        box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.8);
        transition: .20s;
        }
    }
    
    i {
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        background: linear-gradient(to top, #9e9e9e 20%, #f4f4f4);
        border-radius: 50%;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.7);
        top: 10px;
        left: 15px;
        transition: .25s;
        &:after {
        content: "";
        position: absolute;
        display: block;
        width: 52px;
        height: 52px;
        left: 4px;
        top: 4px;
        border-radius: 50%;
        background: #d5d4d4;
        z-index: 1;
        }
    }
    
    input:checked ~ i {
        top: 10px;
        left: 86px;
    }
    
    input:checked + div:after {
        background: #f7931e;
        box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.6);
    }
    
    input:checked + div > .off {
        color: transparent;
        text-shadow: 0 1px 0 rgba(255,255,255,0);
    }
    
    input:checked + div > .on{
        color: #c6631d;
        text-shadow: 0 1px 0 rgba(255,255,255, 0.3);
    }
    // LABEL GRADIENT BORDER
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 164px;
            height: 84px;
            border-radius: 42px;
            background: red;
            top: -2px;
            left: -2px;
            z-index: -1;
            background: linear-gradient(to bottom, #969494, #fff);
        }
    
        &:hover {
            cursor: pointer;
        }
        
        &:focus, &:active {
            outline: 0;
        }
    }

    .on, .off {
        text-transform: uppercase;
        position: absolute;
        left: 17px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2em;
        font-weight: 600;
        z-index: 2;
        -webkit-user-select: none;        
        -moz-user-select: none;
        -ms-user-select: none; 
        letter-spacing: 1px;
        transition: .25s;
    }

    .on {
        color: transparent;
        text-shadow: 0 1px 0 rgba(255,255,255,0);
    }

    .off {
        left: initial; 
        right: 17px;
        color: #444;
        text-shadow: 0 1px 0 rgba(255,255,255, 0.2);
    }
}
/* ----------98---------- */
/* ----------99---------- */
/* ----------99---------- */
/* ----------100---------- */
/* ----------100---------- */