/* ----------41---------- */
.button-qube{
    .button{
        width: 205px;
        height: 80px; 
        perspective: 1800px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        &:active{
            .front{
                border-radius: 0;
                background-color: transparent;
                color: #191919;
                &:before{
                    background-color: #D6D35D;
                    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                }
                &:after{
                    left: 120%;
                    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        } 
    }
    .qube {
        position: relative;
        height: 60px;
        width: 185px;
        perspective: 1800px; 
        .front, .back{
            backface-visibility: hidden;
            transform-style: preserve-3d;
            transform: rotateX(-90deg);
            transition: transform 0.3s ease;
            position: absolute;
            color: #FFF;
            line-height: 60px;
            text-align: center;
        } 
        .front, .back ,.front::before{
            width: 100%;
            height: 100%;
        }
        .back{
            background-color: #D6D35D;
            color: #191919;
            transform: rotateX(0deg) translateZ(60px);
        }
        .front{
            background-color: #191919;
            &:before{
                content: '';
                display: block;
                z-index: -1;

                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            &:after{
                background: #FFF;
                content: '';
                height: 155px;
                left: -75px;
                opacity: .4;
                position: absolute;
                top: -50px;
                transform: rotate(35deg);
                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                width: 50px;
                z-index: 1;
            }
        }
        &:hover{
            .front{
                transform: rotateX(0deg) translateZ(30px);
            }
            .back{
                transform: rotateX(90deg) translateZ(30px);
            }
        }
    }
    
}
/* ----------41---------- */
/* ----------42---------- */
.button-letter{
    .letter-image { 
        margin-top: 50px;
        width: 200px;
        height: 100px; 
        position: relative;
        cursor: pointer; 
        &:hover{
            .shadow {
                width: 250px;
            }
            .animated-mail {
                transform: translateY(50px);
                -webkit-transform: translateY(50px);
                -moz-transform: translateY(50px);
                .letter {
                    height: 140px;
                }
            }  
            .animated-mail .top-fold {
                transition: transform .4s, z-index .2s;
                transform: rotateX(180deg);
                -webkit-transition: transform .4s, z-index .2s;
                -webkit-transform: rotateX(180deg);
                -moz-transition: transform .4s, z-index .2s;
                -moz-transform: rotateX(180deg);
                z-index: 0;
            }
        }  
        .animated-mail {
            position: absolute;
            height: 50px;
            width: 100px;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            transition: .4s;
            .body {
                position: absolute;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 100px 200px;
                border-color: transparent transparent #e95f55 transparent;
                z-index: 2;
            }
            .top-fold {
                position: absolute;
                top: -50px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 50px 100px 0 100px;
                -webkit-transform-origin: 50% 0%;
                -webkit-transition: transform .4s .4s, z-index .2s .4s;
                -moz-transform-origin: 50% 0%;
                -moz-transition: transform .4s .4s, z-index .2s .4s;
                transform-origin: 50% 0%;
                transition: transform .4s .4s, z-index .2s .4s;
                border-color: #cf4a43 transparent transparent transparent;
                z-index: 2;
            }
            .back-fold {
                position: absolute;
                bottom: 0;
                width: 200px;
                height: 100px;
                background: #cf4a43;
                z-index: 0;
            }
            .left-fold {
                position: absolute;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 50px 0 50px 100px;
                border-color: transparent transparent transparent #e15349;
                z-index: 2;
            }
            .letter {
                left: 20px;
                bottom: 0px;
                position: absolute;
                width: 160px;
                height: 60px;
                background: white;
                z-index: 1;
                overflow: hidden;
                -webkit-transition: .4s .2s;
                -moz-transition: .4s .2s;
                transition: .4s .2s;
                .letter-border {
                    height: 10px;
                    width: 100%;
                    background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
                }
                .letter-title {
                    margin-top: 10px;
                    margin-left: 5px;
                    height: 10px;
                    width: 40%;
                    background: #cb5a5e;
                }
                .letter-context {
                    margin-top: 10px;
                    margin-left: 5px;
                    height: 10px;
                    width: 20%;
                    background: #cb5a5e;
                }
                .letter-stamp {
                    margin-top: 30px;
                    margin-left: 120px;
                    border-radius: 100%;
                    height: 30px;
                    width: 30px;
                    background: #cb5a5e;
                    opacity: 0.3;
                }
            } 
        }   
        .shadow {
            position: absolute;
            top: 100px;
            left: 50%;
            width: 400px;
            height: 30px;
            transition: .4s;
            transform: translateX(-50%);
            -webkit-transition: .4s;
            -webkit-transform: translateX(-50%);
            -moz-transition: .4s;
            -moz-transform: translateX(-50%);
            border-radius: 100%;
            background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        }
    }
} 



/* ----------42---------- */
/* ----------43---------- */
.button-more{
    .bt {
        width: 100px;
        cursor: pointer;
        position: relative;
        font-family: "Roboto";
        text-transform: uppercase;
        color: #503af6;
        letter-spacing: 0.5px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        text-decoration: none;
        text-align: center;
    
    }

    .more-bt {
        border-right: 2px solid #503af6;
        border-bottom: 2px solid #503af6;
        padding: 17px 29px 15px 31px;
        border-color: #503af6;
        p {
            font-size: 14px;
        }
        &:before {
            left: 0;
            bottom: 0;
            height: -webkit-calc(100% - 17px);
            height: calc(100% - 17px);
            width: 2px; 
        } 
        &:after{
            top: 0;
            right: 0;
            width: -webkit-calc(100% - 17px);
            width: calc(100% - 17px);
            height: 2px;
        }
        &:before,&:after{
            content: " ";
            display: block;
            background: #503af6;
            position: absolute;
            -webkit-transition: .5s;
            transition: .5s;
            z-index: 10;
            
        }
        .fl, .sfl {
            position: absolute;
            right: 0;
            height: 100%;
            width: 0;
            z-index: 2;
            background: #503af6;
            top: 0;
            -webkit-transition: .5s;
            transition: .5s;
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
        }
        .sfl {
            z-index: 1;
            background: #4431D1;
            -webkit-transition: .7s;
            transition: .7s;
        } 
        .cross {
            position: absolute;
            z-index: 15;
            width: 18px;
            height: 18px;
            top: -webkit-calc(50% - 8px);
            top: calc(50% - 8px);
            left: -webkit-calc(50% - 8px);
            left: calc(50% - 8px);
            &:before {
                width: 100%;
                height: 2px;
                top: 8px;
                left: 0px;
                -webkit-transform: translateX(50px) scaleX(0);
                -ms-transform: translateX(50px) scaleX(0);
                transform: translateX(50px) scaleX(0);
            } 
            &:before, &:after {
                content: " ";
                background: #fff;
                display: block;
                position: absolute;
                opacity: 0;
                -webkit-transition-duration: .3s;
                transition-duration: .3s;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
                -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
            } 
            &:after {
                width: 2px;
                height: 100%;
                left: 8px;
                top: 0;
                -webkit-transform: translateY(20px) scaleY(0);
                -ms-transform: translateY(20px) scaleY(0);
                transform: translateY(20px) scaleY(0);
                -webkit-transition-duration: .4s;
                transition-duration: .4s;
            } 
        }
        i{ 
            position: absolute;
            display: block;
            top: 1px;
            left: 1px;
            -webkit-transition: .5s;
            transition: .5s;
            z-index: 10;  
            &:before {
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            } 
            &:after, &:before {
                content: " ";
                display: block;
                width: 2px;
                height: 20px;
                background: #503af6;
                position: absolute;
                margin: -10px -1px;
                left: 50%;
                top: 50%;
                transition: 0.3s;
            }
        }
        p {
            -webkit-transition: .5s;
            transition: .5s;
            position: relative;
            z-index: 1;
        }
        &:hover{ 
            i{
                &:after{
                    content: " ";
                    display: block;
                    width: 2px;
                    height: 20px;
                    background: #503af6;
                    position: absolute;
                    margin: 0px -1px;
                    left: 50%;
                    top: 50%;
                }
                &:before{
                    content: " ";
                    display: block;
                    width: 2px;
                    height: 20px;
                    background: #503af6;
                    position: absolute;
                    margin: -10px 0px -10px 8px;
                    left: 50%;
                    top: 50%;
                }
            }
            .fl, .sfl{
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
                width: 100%;
            }
            .sfl{
                -webkit-transition: .5s;
                transition: .5s;
            }
            .cross{
                &:before{
                    -webkit-transition-duration: .5s;
                    transition-duration: .5s;
                }
                &:after,&:before{
                    -webkit-transform: none;
                    -ms-transform: none;
                    transform: none;
                    opacity: 1;
                    -webkit-transition-delay: .2s;
                    transition-delay: .2s;
                }
            }
        }
    } 

}
/* ----------43---------- */
/* ----------44---------- */
/* ----------44---------- */
/* ----------45---------- */
/* ----------45---------- */
/* ----------46---------- */
/* ----------46---------- */
/* ----------47---------- */
/* ----------47---------- */
/* ----------48---------- */
/* ----------48---------- */
/* ----------49---------- */
/* ----------49---------- */
/* ----------50---------- */
/* ----------50---------- */


