/* ----------71---------- */
.button-neon{
    .fuller-button {
        color: white;
        background: none;
        border-radius: 0;
        padding: 1.2em 5em;
        letter-spacing: 0.35em;
        font-size: 0.7em;
        transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
        margin: 1em;
        cursor: pointer;
    }
    .fuller-button.blue {
        box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
        border: #0dd solid 2px;
        &:hover {
            background-color: #0dd;
            box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
        }
    }
}
/* ----------71---------- */
/* ----------72---------- */
.button-cube{
    .boton {
        width: 200px;
        height: 50px;
        margin: 0 auto;
        display: block;
        position: relative; 
        .botontext {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            text-align: center;
            line-height: 50px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            &:nth-of-type(1) {
                color: #3d3b40;
                bottom: 100%;
                transform-origin: center bottom 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
            &:nth-of-type(2) {
                color: #fff;
                top: 100%;
                transform-origin: center top 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
        } 
        .twist {
            display: block;
            height: 100%;
            width: 25%;
            position: relative;
            float: left;
            margin-left: -4px;
            &:nth-of-type(1) {
                margin-left: 0;
                &:before,&:after{
                    transition-delay: 0s;
                }
            }
            &:nth-of-type(2) { 
                &:before,&:after{
                    transition-delay: 0.1s;
                }
            }
            &:nth-of-type(3) { 
                &:before,&:after{
                    transition-delay: 0.2s;
                }
            }
            &:nth-of-type(4) { 
                &:before,&:after{
                    transition-delay: 0.3s;
                }
            }
            &:before{
                content: "";
                width: 100%;
                height: 100%;
                background: #fed5a9;
                bottom: 100%;
                position: absolute;
                transform-origin: center bottom 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                top: 100%;
                height: 100%;
                background: #9f7f5e;
                transform-origin: center top 0px;
                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);
                -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
                transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
            }
        }
        &:hover{
             .twist{
                 &:before {
                    background: #fff;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, 0.003, 
                                        0, 50, 0, 1);
                }
                &:after{ 
                    background: #dedae1;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 0, -1, 0.003, 
                                        0, 1, 0, 0, 
                                        0, 0, 0, 1); 
                }
             }
             .botontext{
                &:nth-of-type(1) {
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, 0.003, 
                                        0, 50, 0, 1);
                }
                &:nth-of-type(2) {
                    color: #fff;
                    top: 100%;
                    transform-origin: center top 0px;
                    transform: matrix3d(1, 0, 0, 0, 
                                        0, 1, 0, 0, 
                                        0, 0, 1, -0.003, 
                                        0, -50, 0, 1); 
                    -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                    -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                    -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
                        transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
                }
                &:nth-of-type(2) {
                        transform: matrix3d(1, 0, 0, 0, 
                                        0, 0, -1, 0.003, 
                                        0, 1, 0, 0, 
                                        0, 0, 0, 1);
                }
             }
        }
    }
}
/* ----------72---------- */
/* ----------73---------- */
.button-favourite{
    .favourite {
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 60px;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 60px;
        cursor: pointer;
        animation-duration: 0.6s;
        animation-timing-function: initial;
        animation-delay: initial;
        animation-iteration-count: initial;
        animation-direction: initial;
        animation-fill-mode: initial;
        animation-play-state: initial;
        animation-name: pop;
        padding-top: 20px;
        box-shadow: white 0px 0px 0px 3px;
        color: white;
        transition-property: width;
        transition-duration: 0.2s, 0.2s;
        transition-timing-function: cubic-bezier(0.38, -0.35, 0.265, 1.15);  
        position: relative;
        margin: auto;
        &:hover {
            width: 186px;
            box-shadow: 0px 0px 0px 3px white;
            .favourite_heart {
                .favourite_heart__left {
                    transform: scale(1.1) rotate(-45deg);
                    transition-property: transform;
                    transition-duration: .1s;
                } 
            }
            .favourite_text {
                top: 1px;
                opacity: 1;
                transition-property: top,opacity;
                transition-duration: 0.3s;
                transition-delay: .3s;
            }
        }
        .favourite_heart {
            position: absolute;
            top: 19px;
            left: 20px;
            margin-right: 10px;
            .favourite_heart__left {
                background: #CB3D3D;
                width: 14px;
                height: 24px;
                transform: rotate(-45deg);
                position: absolute;
                left: 0px;
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
            }
            .favourite_heart__right {
                background: #CB3D3D;
                width: 14px;
                height: 24px;
                transform: rotate(45deg);
                position: absolute;
                left: 8px;
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
            }
        }
        .favourite_text {
            margin-left: 63px;
            top: 7px;
            opacity: 0;
            position: relative;
            span{
                color: white;
                text-transform: uppercase;
                font-weight: normal;
                font-size: 12px;
            }
        }
    }
}
/* ----------73---------- */
/* ----------74---------- */
/* ----------74---------- */
/* ----------75---------- */
/* ----------75---------- */
/* ----------76---------- */
/* ----------76---------- */
/* ----------77---------- */
/* ----------77---------- */
/* ----------78---------- */
/* ----------78---------- */
/* ----------79---------- */
/* ----------79---------- */
/* ----------80---------- */
/* ----------80---------- */