/* ----------11---------- */

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
.button-flush{
    --text-color: hsla(210, 50%, 85%, 1);
    --shadow-color: hsla(210, 40%, 52%, .4);
    --btn-color: hsl(210, 80%, 42%);
    --bg-color: #141218;

    button{
        position: relative;
        padding: 10px 20px;
        border: none;
        background: none;
        cursor: pointer;
        font-family: "Source Code Pro";
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
        color: var(--text-color);
        background-color: var(--btn-color);
        box-shadow: var(--shadow-color) 2px 2px 22px;
        border-radius: 4px;
        z-index: 0;
        overflow: hidden;
        .left, .right{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0; 
        }
        .left {
            right: 66%;
        }
        .right{
            left: 66%;
            &:after{
                top: -30px;
                left: calc(-66% - 20px);
                
                background-color: var(--bg-color);
                color:transparent;
                transition: transform .4s ease-out;
                transform: translate(0, -90%) rotate(0deg)
            }
        } 
        &:focus{
            outline-color: transparent;
            box-shadow: var(--btn-color) 2px 2px 22px;
        }
        &:after{
            font-weight: 200;
            top: -30px;
            left: -20px; 
        }
        // bubbles
        &:before{
            content: '';
            pointer-events: none;
            opacity: .6;
            background:
                radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
                radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
                radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px); 
            width: 100%;
            height: 300%;
            top: 0;
            left: 0;
            position: absolute;
            animation: bubbles 5s linear infinite both;
        }
    } 

    .right::after, button::after {
        content: var(--content);
        display: block;
        position: absolute;
        white-space: nowrap;
        padding: 40px 40px;
        pointer-events:none;
    }

    button:hover .right::after {
        transform: translate(0, -47%) rotate(0deg);
    }

    button .right:hover::after {
        transform: translate(0, -50%) rotate(-7deg);
    }

    button .left:hover ~ .right::after {
        transform: translate(0, -50%) rotate(7deg);
    }
}
/* ----------11---------- */
/* ----------12---------- */
.button-blow{ 
    button{ 
        display: inline-block;
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 0;
        padding: 0; 

        &:hover{
            span{
                transform: scale(1.3);
                transition: transform .8s, border-radius .4s;
                border-radius: 50%;
                &:before{
                    transition: background-size .8s, border-radius .4s;
                    border-radius: 50%;
                    background-size: 120% 120%;
                }
            }
        }
        span{
            position: relative;
            overflow: hidden;
            display: flex; 
            width: 200px;
            height: 100px;
            justify-content: center;
            align-items: center;
            border-radius: 0;
            transition: transform .4s, border-radius .4s;
            font-size: 14px;
            transition-timing-function: cubic-bezier(.5,2.4,.7,.5);

            &:before{
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: hotpink;
                background-image: radial-gradient(circle, #ff69b4 0%, #e23a8e 30%, #e23a8e 100%);
                background-size: 200% 200%;
                background-repeat: no-repeat;
                background-position: center;
                top: 0;
                left: 0;
                transform: rotate(90deg);
                z-index: -1;
                border-radius: 0;
                transition: all .4s;
            }
            &:after{
                content: "";
                width: 200px;
                height: 100px;
                background-color: rgba(0,0,0,.2);
                position: absolute;
                top: calc(50% - 60px);
                left: calc(50% - 60px);
                opacity: 0;
                z-index: -4;
                transition-duration: .4s; 
            }
        }
    }
}
/* ----------12---------- */
/* ----------13---------- */
@keyframes blob {
    25% {
        d: path(
            "M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 "
        );
        transform: rotate(-5deg);
    }
    50% {
        d: path(
            "M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210"
        );
    }
    75% {
        d: path(
            "M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210"
        );
        transform: rotate(5deg);
    }
}

.button-cotton{
    background-image: url(https://images.unsplash.com/photo-1519501025264-65ba15a82390?w=700) !important;
    background-size: cover !important;
    background-position: 50% 50% !important; 
    position: relative;
     &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    svg { 
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 180px;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        z-index: 2;
        filter: drop-shadow(0 0 40px rgba(0, 0, 0, 0.3));

        path {
            cursor: pointer;
            animation: blob 2s infinite forwards;
            transform-origin: 50% 50%;
            -webkit-transform-origin: 50% 50%;

            &:hover {
                fill: #fafafa;
            }
        }

        text {
            font-size: 45px;
        }
    }
}
/* ----------13---------- */

/* ----------14---------- */ 
.button-run{
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;

        svg {
            height: 55px;
            width: 150px;
            fill: none;
            stroke-width: 5;

            .o1 {
                stroke: rgba(#FFB341, 0.7);
                fill: #FFA114;
                transition: all 1s ease-in-out;
            }

            .o2 {
                stroke: white;
                stroke-dasharray: 20 420;
                stroke-dashoffset: 20;
                transition: all 1s ease-in-out;
            }
        }

        span {
            position: absolute;
            margin: auto 0;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        &:hover {
            .o1{
                fill: rgba(#CC8110, 0.3);
            }
            
            .o2 {
                stroke-dashoffset: -420;
            }
        }
    }
}

/* ----------14---------- */
/* ----------15---------- */
.button-expand{ 
    text-align: center;
    button{
        padding: 0;
    }
    .add-btn{
        &:hover {
            .btn-txt {
                opacity: 1;
            }
            width: 120px;
            &:before,
            &:after {
                width: 4px;
                border-radius: 2px;
            }

            .add-icon{
                &:before {
                    left: 15px;
                    height: 4px;
                    top: calc(50% - 2px);
                }
                &:after {
                    right: 15px;
                    height: 4px;
                    top: calc(50% - 2px);
                } 
            } 
        }
        &:before, &:after{
            transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
            content: "";
            position: absolute;
            height: 4px;
            width: 10px;
            top: calc(50% - 2px);
            background: red;
        }
        &:after{
            right: 14px;
            overflow: hidden;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        &:before{
            left: 14px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        }

        
    }   
 
    .icon-btn{
        width: 50px;
        height: 50px;
        border: 1px solid #cdcdcd;
        background: white;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        transition: width 0.2s ease-in-out;
        &:focus{
            outline: none;
        }
    } 
    .btn-txt {
        opacity: 0;
        transition: opacity 0.2s;
        color: #000;
        font-size: 14px;
        line-height: 32px;
    } 
    
    .add-icon{
        &:after,&:before {
            transition: all 0.2s ease-in-out;
            content: "";
            position: absolute;
            height: 20px;
            width: 2px;
            top: calc(50% - 10px);
            background: red;
            overflow: hidden;
        }
        &:before{
            left: 22px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        &:after{
            right: 22px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }   
}
/* ----------15---------- */
/* ----------16---------- */

.button-laser{
    .brk-btn {
        position: relative;
        background: none;
        color: aqua;
        text-transform: uppercase;
        text-decoration: none;
        border: 0.2em solid aqua;
        padding: 0.5em 1em;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 10%;
            background: #222;
            height: 0.3em;
            right: 20%;
            top: -0.21em;
            transform: skewX(-45deg);
            -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
            transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 10%;
            background: #222;
            height: 0.3em;
            left: 20%;
            bottom: -0.25em;
            transform: skewX(45deg);
            -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
            transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        }
        &:hover {
            &::before {
                right: 80%;
            }
            &::after {
                left: 80%;
            }
        }
    }
} 
/* ----------16---------- */ 
/* ----------17---------- */
.button-emoji{
    $debug: false;
    $black: #000000; 
    $perfume: #e0acf7;
    $red: #ff0000;
    $white: #ffffff;

    .c-smileyButton {  
        color: $white; 
        border: 0;
        outline: 0; 
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: relative;
        height: 2.5em; 
        border-radius: 0.25em;
        box-sizing: border-box;
        background-color: $perfume;
        box-shadow: 0 0.15em 1em rgba($black, 0.2);
        padding: 0.2em 1.4em;
        z-index: 1;

        &:hover .c-smileyButton__face::before {
            content: '\1F618';
            animation: animate 1.05s infinite;
        }
        
        // cursor fix
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: 1;
        }
    }

    .c-smileyButton__face::before {
        content: '\1F614';
        position: relative;
    }

    .c-smileyButton__hoverListener {
        position: absolute;
        cursor: default;
        z-index: -1;

        @if $debug {
            background-color: rgba($red, 0.2);
        }

        &:hover ~ .c-smileyButton__face::before {
            animation: none;
        }

        &:nth-child(1) {
            width: 290%;
            height: 550%;

            &:hover ~ .c-smileyButton__face::before {
            content: '\1F60C';
            }
        }

        &:nth-child(2) {
            width: 190%;
            height: 330%;

            &:hover ~ .c-smileyButton__face::before {
            content: '\1F61A';
            }
        }
    }
} 

@keyframes animate {
    100% { content: '\1F60A'; }
} 
/* ----------17---------- */

/* ----------18---------- */
.button-wave{
    a{
        position: relative;
        padding: 1rem 2rem;
        text-decoration: none; 
        display: inline-block;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 1px;
        overflow: hidden;
        border-radius: 20px; 
        background-color: #FF394B; /* Light */
        background-color: #7F1C25; /* Dark */ 
        div[class^="wave-"] {
            position: absolute;
            z-index: 0;
            height: 200px;
            width: 200px;
            border-radius: 47%; 
            opacity: .5;
        } 
        div.wave-1{
            background-color: #C94550;
            left: 85px;
            bottom: -10px;
            transform: rotate(20deg);
        } 
        div.wave-2{
            background-color: #962C34;
            top: -10px;
            transform: rotate(180deg);
            right: 100px;
        }
        span{
            position: relative; /*Brings the text to the top;*/
        }
        &:hover {
            .wave-1 {
                animation: wave-1 6s infinite linear;
            }
            .wave-2 {
                animation: wave-2 6s infinite linear;
            }
        }
    }
}

@keyframes wave-1 {
  0% {
    transform: rotate3d(0,0,1,20deg);
  }
  
  50% {
    transform: rotate3d(0,0,1,200deg);
    
  }
  
  100% {
    transform: rotate3d(0,0,1,380deg);
  }
}

@keyframes wave-2 {
  0% {
    transform: rotate3d(0,0,1,180deg);
  }
  
  50% {
    transform: rotate3d(0,0,1,0deg);
    right: 110px;
  }
  
  100% {
    transform: rotate3d(0,0,1,-180deg);
  }
}
/* ----------18---------- */

/* ----------19---------- */
$primary:#33cc33;
.button-play{
    position: relative;
    .circle {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background-color: $primary;
        margin: auto;
        transform: scale(1, 1);

        &.pulse {
            animation-timing-function: ease;
            animation: pulse 2s infinite;
            background-color: lighten($primary, 25%);
        }
  }

  svg {
    fill: darken($primary, 12%);
    stroke: darken($primary, 12%);
    stroke-linejoin: round;
    stroke-width: 5;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      fill: darken($primary, 17%);
      stroke: darken($primary, 17%);
      transform: scale(1.2, 1.2);
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* ----------19---------- */

/* ----------20---------- */
/* ----------20---------- */