/* ----------81---------- */
.button-swiggle{
    .swiggleBox{
        width: 130px;
        height: 65px;
        margin: 15px auto;
        color: #4274D3;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.15rem;
        line-height: 65px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        cursor: pointer;
        svg{
            position: absolute;
            top: 0;
            left: 0;
            path{
                fill: none;
                stroke: #4274D3;
                stroke-width: 1;

                stroke-dasharray: 265, 0;
                -webkit-transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
            }
        }
        &:hover{
            svg{
                path{
                    stroke: #4274D3;
                    stroke-width: 3;
                    stroke-dasharray: 0, 350;
                    stroke-dashoffset: 20;
                    -webkit-transition: all 1s ease-in-out;
                    -moz-transition: all 1s ease-in-out;
                    -ms-transition: all 1s ease-in-out;
                    -o-transition: all 1s ease-in-out;
                }
            }
        }
    }
}
/* ----------81---------- */
/* ----------82---------- */
.button-checkbox{
    .checkBox {
        width: 130px;
        height: 65px;
        margin: 15px auto;
        color: #4274D3;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.15rem;
        line-height: 65px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        cursor: pointer;
        &:hover {
            svg{
                polyline{
                    stroke: #4274D3;
                }
                rect {
                    stroke-width: 2;
                    -webkit-transition: all 0.8s ease-in-out;
                    -moz-transition: all 0.8s ease-in-out;
                    -ms-transition: all 0.8s ease-in-out;
                    -o-transition: all 0.8s ease-in-out;
                }
                polyline {
                    stroke-width: 2;
                    -webkit-transition: all 0.8s ease-in-out;
                    -moz-transition: all 0.8s ease-in-out;
                    -ms-transition: all 0.8s ease-in-out;
                    -o-transition: all 0.8s ease-in-out;
                }
                .button {
                    stroke-dasharray: 0, 400px;
                    stroke-dashoffset: 33px;
                }
            } 
            .box {
                -webkit-animation: boxDisplay 0.2s forwards;
                -moz-animation: boxDisplay 0.2s forwards;
                -ms-animation: boxDisplay 0.2s forwards;
                -o-animation: boxDisplay 0.2s forwards;
                animation: boxDisplay 0.2s forwards;
                -webkit-animation-delay: 0.65s;
                -moz-animation-delay: 0.65s;
                -ms-animation-delay: 0.65s;
                -o-animation-delay: 0.65s;
                animation-delay: 0.65s;
            }
            .checkMark {
                -webkit-animation: checkDisplay 0.2s forwards;
                -moz-animation: checkDisplay 0.2s forwards;
                -ms-animation: checkDisplay 0.2s forwards;
                -o-animation: checkDisplay 0.2s forwards;
                animation: checkDisplay 0.2s forwards;
                -webkit-animation-delay: 1s;
                -moz-animation-delay: 1s;
                -ms-animation-delay: 1s;
                -o-animation-delay: 1s;
                animation-delay: 1s;
            }
        }
        svg{
            margin-left: -10px;
            rect, polyline {
                fill: none;
                stroke: #4274D3;
                stroke-width: 1;
                -webkit-transition: all 0.8s ease-in-out;
                -moz-transition: all 0.8s ease-in-out;
                -ms-transition: all 0.8s ease-in-out;
                -o-transition: all 0.8s ease-in-out;
            }
            rect{
                stroke-dasharray: 400, 0;
                -webkit-transition: all 0.8s ease-in-out;
                -moz-transition: all 0.8s ease-in-out;
                -ms-transition: all 0.8s ease-in-out;
                -o-transition: all 0.8s ease-in-out;
            }
            .button {
                stroke-dasharray: 400px, 0;
            }
            /* Check Mark Effect */
            .checkMark {
                opacity: 0;
            }  
            .box{
                opacity: 0;
            }
        }
        
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        rect, polyline {
            fill: none;
            stroke: #4274D3;
            stroke-width: 1;
        }
    } 
}
@-webkit-keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* Check Mark Display */
@-webkit-keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* ----------82---------- */
/* ----------83---------- */
.button-flip{ 
    #flip, #flip-circle, #flip-reversed, #flip-circle-reversed {
        width: 40px;
        height: 40px;
        position: relative;
        transition: all 0.275s ease-out;
        -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        i{ 
            position: absolute;
            border: 2px solid black;
            line-height: 40px;
            font-size: 1.8em;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            -webkit-backface-visibility: hidden;
                backface-visibility: hidden; 
            &:before,&:after{
                position: relative;
            }
            &:first-of-type{
                z-index: 100;
                color:#000;
            }
            &:last-of-type{
                -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
                color: white;
                background: #55acee;
                border-color: #55acee;
            }
        } 
    }   
    #flip-circle, #flip-circle-reversed{
        i {
            border-radius: 100%;
        } 
    } 
    #flip-reversed, #flip-circle-reversed {
        i{
            &:last-of-type{
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
        }
        
    }
    .flip-container {
        width: 40px;
        height: 40px;
        margin: 5px 10px;
        display: inline-block;
        &:hover{
            #flip, #flip-circle{
                -webkit-transform: rotateX(180deg);
                    transform: rotateX(180deg);
            }
            #flip-reversed,#flip-circle-reversed {
                -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
            }
        } 
    }
    

    
}
/* ----------83---------- */
/* ----------84---------- */
/* ----------84---------- */
/* ----------85---------- */
/* ----------85---------- */
/* ----------86---------- */
/* ----------86---------- */
/* ----------87---------- */
/* ----------87---------- */
/* ----------88---------- */
/* ----------88---------- */
/* ----------89---------- */
/* ----------89---------- */
/* ----------90---------- */
/* ----------90---------- */