/* ----------91---------- */
.button-hoverglow{
    .glow-on-hover {
        font-size: 10px;
        width: 260px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px; 
        &:before,&:after{
            position: relative;
        }
        &:before{
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }
        &:after{
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #111;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
        &:active{
            color: #000;
            &:after{
                background: transparent;
            } 
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* ----------91---------- */
/* ----------92---------- */
.button-dissolve{
    .button-container-1 {
        position: relative;
        width: 140px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6vh;
        overflow: hidden;
        border: 1px solid;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        transition: 0.5s;
        letter-spacing: 1px;
        .mas {
            position: absolute;
            color: #000;
            text-align: center;
            width: 101%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            position: absolute;
            font-size: 20px;
            margin-top: 12px;
            overflow: hidden;
        }
        button{
            width: 101%;
            height: 100%;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 1px;
            background: #000;
            -webkit-mask: url("../images/nature-sprite.png");
            mask: url("../images/nature-sprite.png");
            -webkit-mask-size: 2300% 100%;
            mask-size: 2300% 100%;
            border-radius: 0;
            border: none;
            color: #fff;
            cursor: pointer;
            -webkit-animation: ani2 0.7s steps(22) forwards;
            animation: ani2 0.7s steps(22) forwards;
            &:hover{
                -webkit-animation: ani 0.7s steps(22) forwards;
                animation: ani 0.7s steps(22) forwards;
            }
        }
    }
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
/* ----------92---------- */
/* ----------93---------- */
/* ----------93---------- */
/* ----------94---------- */
/* ----------94---------- */
/* ----------95---------- */
/* ----------95---------- */
/* ----------96---------- */
/* ----------96---------- */
/* ----------97---------- */
/* ----------97---------- */
/* ----------98---------- */
/* ----------98---------- */
/* ----------99---------- */
/* ----------99---------- */
/* ----------100---------- */
/* ----------100---------- */