.page-node-type-case-study, .page-node-type-brand-story, .page-node-type-sector  {
	.story-wrapper, .result {
	  background-color:$greyLight;
	  padding-bottom:100px;
	}
	.result {
		.container {
			padding:0 5%;
		}
	}
}

.more-customers {
	li {
		display:block;
		border: 1px solid $greyMedium;
		margin-bottom:2%;
	}
}
.page-node-type-case-study, .page-node-type-brand-story {
  .data-set {
		padding-bottom:100px;
  }
}
@media (min-width: 960px) {
  .page-node-type-case-study, .page-node-type-brand-story {
	  .data-set {
	  	width: 100%;
	  	display: inline-table;
	    .data-stat {
	      width: 15%;
	      display: table-cell;
	    	vertical-align: top;
	    }
    }
  }
}

@media (min-width: 641px) {
  .more-customers {
  	text-align:center;
  	li {
  		display:inline-block;
  		width:23%;
  		margin:0 1% 0;
	    &:first-child {
	      margin-left:0;
	    }
	    &:last-child {
	      margin-right:0;
	    }
  	}
  }
}

.page-node-type-brand-story {
	.col {
		position:relative;
		.challenge, .solution {
			padding-bottom:98px;
		}
		.solution {
			background-color:$greyLight;
			ul, p {
				margin:0 50px 0 36px;
			}
			span {
				color:$red;
			}
		}



		.challenge {	
			ul, p {
				margin:0 36px 0 50px;
			}
			span {
				color:$blue;
			}
		}
	}
	.result {
		span {
			color:$turquoise;
		}
		ul {
			float:left;
			width:54%;
			margin:0 0 0 50px;
		}
		img {
			float:right;
			width:34%;
			margin-right:50px;
		}
	}
}

@media (min-width: 940px) {
	.page-node-type-brand-story {
		.challenge, .solution {
			width:50%;
			display:table-cell;
		}
		.challenge {
			h2 {
				position:relative;
				&:after {
					content: "";
					@include after-font-icon(100px, 0, "\e900", $white);
					position:absolute;
			    right: -40px;
			    top: -15px;
				}
			}
		}
		.col {
			.container {
				&:after {
			    content: "";
			    background-color: #f4f4f4;
			    width: 50%;
			    height: 100%;
			    position: absolute;
			    display: block;
			    left: 50%;
			    top: 0;
			    z-index: -1;
				}
			}
		}
	}
}