.page-node-129, .page-node-124, .page-node-128 {//lets talk hidden on hr confirmation page
	#block-letstalk {
		h3, p {
			visibility:hidden;
		}
	}
}

.page-node-type-contact-hr-landing-page- {
	.contact-us {
		display:none;
	}
	#block-letstalk {
		margin-top:0;
	}
}
.form-container {
	background:$purple;
	padding-top:250px;
	.copy {
		text-align:center;
		margin:0 5%;
		a {
			color:$white;
			text-decoration:underline;
		}
	}
	
	.yamlform-submission-contact-hr-form {
		@include clearfix;
		margin-top:100px;
		margin-bottom:100px;
		.left, .right {
			margin: 0 5%;
		}
		.form-type-textfield, .form-type-email, .form-type-select, .form-type-url, .form-type-tel { 
			width:97%;
			&:before {
		    background: $white;
			}
		}
		.form-tel {
			width:100%;
		}
		label {
			margin-bottom:5px;
		}
		input, select, label {
			color:$white;
			font-weight:normal;
		}
		input, select {
			border-bottom:2px solid $white;
		}
		select {
			option {
				color:$grey;
				background:$white;
			}
		}
		textarea {
			background:$white;
		}
		::-webkit-input-placeholder {
			color: $white !important;
		}
		::-moz-placeholder {  /* Firefox 19+ */
			color: $white !important;  
		}
		:-ms-input-placeholder {  
			color: $white !important;  
		}
		textarea::-webkit-input-placeholder {
			color: $grey !important;
			font-size:13px;
		}
		textarea:-moz-placeholder { /* Firefox 18- */
			color: $grey !important;  
			font-size:13px;
		}
		textarea::-moz-placeholder {  /* Firefox 19+ */
			color: $grey !important;  
			font-size:13px;
		}
		textarea:-ms-input-placeholder{  
			color: $grey !important; 
			font-size:13px; 
		}
		.form-group {
			margin-bottom:15px;
		}
		.form-actions {
			.btn-primary {
				clear:both;
				background-color:$blue;
				border-color:$blue;
				width:90%;
				margin:0 5%;
				line-height:67px;
				&:hover {
					background-color:$white;
					color:$blue;
				}
			}
		}
		.js-form-item-opt-in {
		  clear: both;
	    margin:5px 5%;
		}
		.description {
			p {
				color:$white;
				a {
					color:$white;
					text-decoration:underline;
				}
			}
		}
	}

	    
}

@media (min-width: 768px) {
	.form-inline {
		.form-number {
			width:100%;
		}
	}
	.form-container {
		.yamlform-submission-contact-hr-form {
			.left, .right {
				width: 40%;
		    float: left;
			}
			.js-form-item-opt-in { 
				float: right;
		    width: 40%;
		    margin-left:0;
			}
			.form-actions {
				.btn-primary {
					float:right;
					width:40%;
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.form-container {
		.copy {
			h2 {
				@include fontSetup(60px, 1, $white, 700, 17px);
			}
			p {
				@include fontSetup(18px, 1.6, $white, normal, 0);
			}
		}
	}
}

@media (max-width: 599px) {
	.form-container {
		.copy {
			h2 {
				@include fontSetup(42px, 1, $white, 700, 12px);
			}
			p {
				@include fontSetup(17px, 1.6, $white, normal, 0);
			}
		}
	}
}

