//styling up to mobile nav
p.contact-us {
	z-index:1;
	a {
		&:hover, &:focus {
  		text-decoration:none;
  	}
	}
}
@media (min-width: 768px) {
	p.contact-us {
		position:fixed;
		top:129px;
		right:-51px;
		backface-visibility: hidden;
	  -webkit-transform: rotate(-90deg);
	  transform: rotate(-90deg);
	  a {
	  	@include fontSetup(16px, 1, $white, 700, 0);
	  	letter-spacing: -0.025em;
	  	padding:9px 49px 10px 10px;
	  	position:relative;
	  	background-color:$blue;
	  	border:1px solid $blue;
	  	@include transition;
	  	&:hover {
	  		background-color:$white;
	  		@include transition;
	  		color:$blue;
	  		&:after {
	  			color:$blue;
	  		}
	  	}
	  	&:after {
	  		@include after-font-icon(22px, null, "\e91b");
	  		position: absolute;
		    right: 0;
		    top: 8px;
		    font-weight: 500;
		    padding-right: 9px;
		    @include transition;
	  	}
  	  &:before {
        content: "/";
		    padding-left: 5px;
		    position: absolute;
		    right: 40px;
		    top: 11px;
      }
	  }
	}

	.path-frontpage {
		.contact-us {
			a {
				border-color:$blue;
				&:hover {
					color:$blue;
					&:after {
						color:$blue;
					}
				}		
			}
		}
	}

	//temp customer page class
	.page-node-35, .page-node-type-case-study {
		.contact-us {
			a {
				background-color:$white;
				border-color:$blue;
				color:$blue;
				&:after {
					color:$blue;
				}
				&:hover {
					background-color:$blue;
					border-color:$blue;
					color:$white;
					&:after {
						color:$white;
					}
				}
			}
		}
	}

	.page-node-type-sector {
		.contact-us {
			a {
				background-color:$orange;
				border-color:$orange;
				&:hover {
					color:$orange;
					&:after {
						color:$orange;
					}
				}		
			}
		}
	}

	.page-node-type-service{
		.contact-us {
			a {
				background-color:$purple;
				border-color:$purple;
				&:hover {
					color:$purple;
					&:after {
						color:$purple;
					}
				}		
			}
		}
	}

	.page-node-type-brand-story {
		.contact-us {
			a {
				background-color: $redDark;
				border-color:$redDark;
				&:hover {
					color:$redDark;
					&:after {
						color:$redDark;
					}
				}		
			}
		}
	}


	.page-node-type-about-us, .page-node-type-our-team, .page-node-type-news-events, .page-node-type-careers, .page-node-type-supplier-network, .page-node-type-locations, .page-node-type-news, .page-node-type-form-confirmation-landing-page-, .page-node-type-form-confirmation-landing-page {
		.contact-us {
			a {
				background-color:#999999;
				border-color:#999999;
				&:hover {
					color:#999999;
					&:after {
						color:#999999;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {

	p.contact-us {
		position: fixed;
		bottom:0;
    width:100%;
    text-align:center;
    height:50px;
    z-index:10;

    a {
    	@include fontSetup(25px, 50px, $white, 700, 0);
    	letter-spacing: -0.075em;
    	display:block;
    }
	}
	.footer {
		padding-bottom:76px;
	}
	.path-frontpage {
		.contact-us {
			background-color:$blue;
		}
	}

	//temp customer page class
	.page-node-35, .page-node-type-case-study {
		.contact-us {
			background-color:$white;
			border:1px solid $blue;
			a {
				color:$blue;
			}
		}
	}

	.page-node-type-sector {
		.contact-us {
			background-color:$orange;
		}
	}

	.page-node-type-service {
		.contact-us {
			background-color:$purple;
		}
	}

	.page-node-type-brand-story {
		.contact-us {
			background-color:$redDark;
		}
	}

	.page-node-type-about-us, .page-node-type-our-team, .page-node-type-news-events, .page-node-type-careers, .page-node-type-supplier-network, .page-node-type-locations, .page-node-type-news, .page-node-type-form-confirmation-landing-page-, .page-node-type-form-confirmation-landing-page {
		.contact-us {
			background-color:#999999;
		}
	}
}


#block-contactform {
	.reveal-modal-bg {
		z-index:9991;
	}
	#contactPopup .field .input textarea {
			width:100%;
	}
	.close-reveal-modal {
		top:22px;
	}
	.business-enquiry {
		h3 {
			margin-top:24px;
		}
		p {
			margin-bottom:18px;
		}
	}
	[class^="icon-"], [class*=" icon-"] {
    font-family: 'wlt' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-arrow-down-xmd {
    &:before {
      content: "\e901";
    }
  }
  .submitted-message {
  	@include fontSetup(30px, 1, $white, 700, 0);
  	text-align:center;
  }


}


.close-reveal-modal{
	&:hover {
		text-decoration:none;
	}
	&:before {
		@include after-font-icon(20px, null, "\e90c");
	}
}
#contactPopup {
	input {
		width:100%;
	}
}

@media (min-width: 768px) {
	#block-contactform {
	
	}
}

