.page-node-57, .page-node-58 {
	.page-header {
  	text-align:center;
    border-bottom:0;
    color:$grey;
    margin-bottom:16px;
  }
	.content {
		margin:0 5%;
		h6, h5, li, p, a {
			@include fontSetup(18px, 1.3, $grey, null, null);
		}
	}
}

@media (min-width: 768px) {
	.page-node-57, .page-node-58 {
		.navbar-default {
			background:$blue;
		}
  }
}

//styling up to mobile nav
@media (min-width: 768px) {
  .page-node-57, .page-node-58 {
    .page-header {
      margin-top:250px;
    }
  }
}

@media (max-width: 767px) {
  .page-node-57, .page-node-58 {
    .page-header {
      margin-top:100px;
    }
    .contact-us {
      a {
        background-color:$blue;
      }
    }
  } 
}