.page-node-type-form-confirmation-landing-page-, .page-node-type-form-confirmation-landing-page {
  .featured-purple {
  	padding-top:0;
  }
	.page-header {
    color: $purple;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom:none;
    padding-top:85px;
    text-align:center;
	}
	.content {
		p {
			margin-bottom:17px;
		}
	}
	.video-title {
		padding-left:55%;
		font-weight:700;
		margin-bottom:23px;
	}

}