.path-frontpage {
	.featured-red {
		background-color:$greyLight;
	}
	.featured-image {
		h3, p {
			padding:0 5%;
		}
	}

	img {// take of once class has been applied for image responsive
    max-width: 100%;
    height: auto;
	}
}

.view-header {
	.case-study {
		background-color:$blue;
		position:relative;
		p, a {
			@include fontSetup(22px, 1.4, $white, null, null);
		}
		p {
			&:first-of-type {
				margin-bottom:14px;
			}
		}
		a {
			font-size:18px;
			text-decoration:underline;
		}
	}
}


@media (min-width: 641px) {
	.path-frontpage {
		.view-header {
			.case-study {
				.case-study-block {
					left:0;
					right:0;
	  			padding:0 10%;
	  			@include vertical-align(absolute);
				}
			}
		}
	}
}
@media (max-width: 640px) {
	.path-frontpage {
		.view-header {
			.case-study {
				.case-study-block {
					padding:5% 26px 5% 22px;
				}
				.image {
					display:none;
				}
			}
		}
	}
}

