.page-node-type-news-events {
	.news-events-latest, .media-header {
		@include fontSetup(30px, 1.2, $greyMedium, 700, null);
		letter-spacing: -0.075em;
	}
	.social-media {
		margin-bottom:20px;
	}
	.view-header {
		.news-events, .news-events-latest {
			display:inline;
			margin-right:24px;
		}
		.news-events {
			a {
				@include fontSetup(14px, 1.2, $grey, 700, null);
				letter-spacing: -0.075em;
				text-decoration:underline;
			}
		}
		.news-events-latest {
			font-size:32px;
		}
		.media-header {
			margin-bottom:20px;
		}
	}
	.pager {
		margin-top:40px;
	}
}


.news-events-block {
	margin-left:5%; 
	.news-events-list {
		list-style:none;
		li {
			@include clearfix;
			position:relative;
			border-top:1px solid $greyLight;
			margin-top:40px;
			padding-top:40px;
			&:first-child {
				margin-top:20px;
			}
			.title {
				a {
					@include fontSetup(18px, 1.2, $grey, 700, 10px);
					letter-spacing: -0.05em;
					text-decoration:none;
					display:block;
				}
			}
			.summary {
				padding-left:58%;
				p {
					font-size:15px;
					letter-spacing: -0.05em;
					margin-bottom:40px;
				}
				
			}
			.read-more {
				a {
					position:relative;
					background-color:$purpleDark;
					border-radius:5px;
					@include fontSetup(14px, null, $white, 700, null);
					letter-spacing: -0.05em;
					padding: 0 10px 0 30px;
					display:inline-block;
					line-height:32px;
					border:1px solid $white;
					@include transition;
					&:hover {
						text-decoration:none;
						background-color:$white;
						border-color:$purpleDark;
						color:$purple;
						@include transition;
						&:before {
							color:$purple;
							@include transition;
						}
					}
					&:before {
						@include after-font-icon(20px, 0, "\e91c", $white);
						position: absolute;
				    left: 6px;
    				top: 6px;
    				@include transition;
					}
				}
			}
		}
	}
}

.media-contacts-block  {
	margin-right:5%;
	.media-contact {
		margin-bottom:40px;
		&:last-child {
			margin-bottom:0;
		}
		.picture {
			img {
				border-radius:50%;
				border:1px solid $greyMedium;
				width:75px;
				display:inline;
				margin-bottom:12px;
			}
		}
		.region, .email a {
			@include fontSetup(18px, 1.2, $grey, null, null); 
			letter-spacing: -0.05em;
		}
		.name {
			@include fontSetup(18px, 1.5, $purple, 700, 0);
			letter-spacing: -0.05em;
		}
	}
}

//news page articles
.page-node-type-news {
	.navbar-default {
		background:$purple;
	}
	.page-header {
		padding:85px 5% 45px;
    border-bottom:none;
    color:purple;

	}
	.copy {
		margin-top:20px;
	}
}

//-------- end news page articles


@media (min-width: 930px) {
	.news-events-block {
		float:left;
		width:56%;
		margin-left:5%; 
	}
	.media-contacts-block  {
		float:right;
		width:33%;
		text-align:right;
	}
	//media fixed scrolling
	.media-container {
		position:relative;
		.fixed{
	    position: fixed;
	    top:80px;
		}
		.absolute {
			position:absolute;
			right:0;
			bottom:0;
		}
	}
}

@media (max-width: 929px) {
	.news-events-block {
		margin-right:5%;
	}
	.media-contacts-block  {
		margin-top:40px;
		margin-left:5%;
		text-align:center;
		.social-media p {
			&:first-child {
				a {
				margin-left: 0;
				}
			}
		}
	}
}

@media (min-width: 700px) {
	.news-events-list {
		.thumb {
			float:left;
			width:50%;
			margin-right:8%;
		}
		.read-more {
		  position: absolute;
	    bottom: 5px;
	    left: 58%;
	  }
	}
}

@media (max-width: 699px) {
	.news-events-block {
		margin-right:5%;
		.read-more {
			margin-top:20px;
		}
	}
	.news-events-list {
		.thumb {
			margin-bottom:6px;
		}

	}
}