html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: $font-main;
  color: $color-main;
  background-color: $color-backgrounds;
}

.container {
  width: 92%;
  margin: 0 auto;
}


h1,h2,h3,h4,h5,h6 {
  font-family: $font-highlight;
  color: $color-headlines;
} 

.main-content{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  color: #ffffff;
  .item {
		display: grid;
		grid-template-rows: 1fr min-content;
		align-items: center;
		justify-content: center;
		min-height: 200px;
    height: 20vh;
		flex-wrap: wrap;
		background: var(--bg-color);
		&:not(.footer) {
			padding-top: 1rem;
		}
  }
  .name {
    width: 100%;
    text-align: center;
    padding: 0 0 3rem;
    font: 500 14px 'Rubik', sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }
}