nav {
	header & {
		background-color: darken($blue, 15%);
	}

	.branding {
		float: left;
		display: none;
		@include clearfix;
		@include break(1000px) {
			display: block;
		}
	}

	.branding h1 {
		font-size: 2.75rem;
		line-height: 70px;
		overflow: hidden;
		margin: 0;
		color: $yellow;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		min-height: 70px;
		@include clearfix;
	}

	ul li {
		@include break(760px) {
			float: right;
		}
		padding: 10px 5px;
	}

	ul li a {
		text-decoration: none;
		padding: 10px 5px;
		color: $color-backgrounds;

		&:hover {			
			color: $yellow;
		}

		header &:hover {
			background-color: darken($blue, 20%);
		}

		footer & {
			color: white;
		}
	}
	footer & {
		margin-top:20px;
		min-height: 200px;
		background-color: darken($blue, 15%);
	}
}

.foot{
	height:50px;
	background:#003f57;
	text-align: center;
	color: #fff;
	line-height: 50px;
}

.top{
	position: fixed;
	bottom:40px;
	right: 20px;
	width:40px;
	height: 40px;
	background: #000;
	color:#fff;
	border-radius: 50%;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
}