.content, .download-section, .challenge, .solution, .result, .case-study-story {
	ul {
		list-style:none;
		clear:both;
		li {
			position:relative;
			padding-left:25px;
			&:before {
				@include after-font-icon(14px, 0, "\e900", $turquoise);
				position:absolute;
				top:4px;
				left:0;
			}
		}
	}
}
.content {
	ul {
		margin-left:12px;
		li {
			@include fontSetup(18px, 1.2, $grey, 700, 16px);
			a {
				color:$grey;
				text-decoration:underline;
			}
		}	
	}
}
.download-section {
	ul {
		margin-top: 26px;
		li {
			margin-bottom:26px;
			&:before {
				color:$blue;
			}
		}
	}
}


.challenge, .solution, .result {
	ul {
		li {
			@include fontSetup(18px, 1.3, null, null, 26px);
		}
	}
}
.challenge {
	ul {
		li {
			&:before {
				color:$blue;
			}
		}
	}
}
.solution {
	ul {
		li {
			&:before {
				color:$red;
			}
		}
	}
}