.button-round {
  border:2px solid $white;
  border-radius:10px;
  padding:10px 22px;
}

.form-actions {
	.btn-primary {
		@include fontSetup(24px, 1, $white, 700, 0);
		border-radius:0;
		border-color:1px solid $white;
		@include transition;
		&:hover {
			@include transition;
		}
	}
}
