//carousel height
.slick-slide {
   //height:400px;
}

//top body copy
.featured-image + .container {
	.content {
		padding:20px 5% 0;
	}
}

//small blocks of copy green header and copy
.data-stat {
  text-align:center;
  h3, p {
  	letter-spacing: -0.05em;
  }
  h3 {
    @include fontSetup(40px, 1, $turquoise, 700, 4px);
  }
  p {
    line-height:1.3;
  }
}



//temp styling for the copy video two columns on sectors and services
.copy-video {
	.left-col {
		margin: 0 5%; 
	}
}

.responsive-video {
	video {
		width:100% !important;
		height: 100% !important;
	}
}

//up to mobile
@media (min-width: 768px) {
	.copy-video {
		.left-col {
			float:left;
		  width:44%;
		}
		.video-wrapper {
			float:right;
		  margin-right: 5%;
		  width:40%;
		}
	}
}
//---------- end temp styling for the copy video two columns on sectors and services



// temp styling for the story section with copy and video/quote
.story-wrapper {
	.case-study-story {
		margin: 0 5%;
	}
	.quote-wrapper {
		blockquote {
			background-color:$blue;
			position:relative;
			width:80%;
			margin:0 auto;
			padding:20px;
			@include fontSetup(25px, 1.3, $white, 700, 0);
			letter-spacing: -0.05em;
			&:before, &:after {
				@include fontSetup(60px, 1, $blue, 700, 0);
		    position: absolute;
			}
			&:before {
				content:"“";
		    left: -34px;
		    top: -10px;
			}
			&:after {
				content:"”";
		    right: -34px;
    		bottom: -26px;
			}
		}
		.video-wrapper {//small blue box at bottom to look part of the blockquote
	    position: relative;
	    z-index: 1;
			&:after {
				content:"";
				background-color:$blue;
				width:80%;
				margin:0 auto;
				height:10px;
				bottom: -10px;
		    position: absolute;
		    left: 10%;
		    z-index: -1;

			}
		}
	}
}

//up to mobile
@media (min-width: 768px) {
	.story-wrapper {
		.case-study-story {
			float:left;
			width:44%;
		}
		.quote-wrapper {
			float:right;
			margin-right:10%;
			width:30%;
		}
	}
}
@media (max-width: 767px) {
	.story-wrapper {
		.quote-wrapper {
			margin:30px auto 0;
			width:70%;
			blockquote {
				font-size:20px;
			}
		}
	}
}

@media (max-width: 599px) {
	.data-stat {
	  h3 {
	    font-size:30px;
	  }
	}
}

@media (max-width: 959px) {
  .data-stat {
    margin:0 5% 20px 5%;
    &:last-child {
    	margin-bottom:0;
    }
  }
}



@media (min-width: 766px){
  .result {
    p {
      padding: 0 20%;
      text-align:center;
    }
  }
}


//page headers without container wrapper
@media (min-width: 1020px) {
	.page-node-type-news, .page-node-type-service, .page-node-type-form-confirmation-landing-page- {
			.page-header {
				width:1000px;
				margin-right: auto;
    		margin-left: auto;
        padding-bottom:0;
			}
	}
}
@media (max-width: 1019px) {
	.page-node-type-news, .page-node-type-service, .page-node-type-form-confirmation-landing-page- {
		.page-header, .copy {
			padding:0 5%; 
		}
		.page-header {
			width:auto;
		}
	}
}
