.featured{
  text-align:center;
  padding:85px 5% 45px;
  &:after {
    @include after-font-icon;
  }
  &.featured-blue {
    h2, span, &:after {
      color:$blue;
    }
  }
  &.featured-light-blue {
    h2, span, &:after {
      color:$blueLight;
    }
  }
  &.featured-red {
    h2, span, &:after {
      color:$red;
    }
  }
  &.featured-turquoise {
    h2, span, &:after {
      color:$turquoise;
    }
  }
  &.featured-purple {
    h2, span, &:after {
      color:$purple;
    }
  }
}

.featured-image {
  position:relative;
  text-align:center;
  .background-image {
    width: 100%;
    display: block;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    img {
      display:none;
    }
  }

  &:after {
    @include after-font-icon;
    position:absolute;
    bottom:25px;
    left:0;
    right:0;
  }
  .copy {
    left: 0;
    right: 0;
    @include vertical-align(absolute);
    color:$white;
  }
  .video {
    overflow:hidden;
  }
}


@media (min-width: 600px) {//style for animated nav on DT
  .featured-image {
    .copy {
      h1 {
        opacity:0;
        min-height:60px;
      }
    }
  }
}

@media (min-width: 766px){
  .featured {
    p {
      padding: 0 20%;
    }
  }
}



@media (min-width: 1340px) {
  .video {
    height:750px;
    video {
      width:100% !important;
      height:auto !important;
    }
  }
}

@media (max-width: 1339px) and (min-width:768px){
  .video {
    height:750px;
    video {
      width:auto !important;
      height:100% !important;
    }
  }
}


@media (min-width: 768px) {
  .featured-image {
    .background-image {
      height:750px;
    }
  }
}

@media (max-width: 767px) {
  .video {
    height:400px;
    video {
      width:auto !important;
    }
  }
  .featured-image {
    .background-image {
      height:400px;
    }
  }
  .path-frontpage {
    .featured-image{
      h1 {
        @include fontSetup(36px, 1, null, 700, 12px);
      }
      p {
        @include fontSetup(17px, 1.6, null, null, 0);
      }
    }
  }
}