.yamlform-submission-form {
	input, select, textarea, label {
		font-size:16px;
	}
	input, select {
		border:none;
		box-shadow:none;
		border-radius:0;
		padding-left:0;
		margin-left:10px;
		background:transparent;
	}
	select {
		line-height:1.2;
	}
	textarea {
		border-radius:0;
	}
	.form-type-textfield, .form-type-email, .form-type-select, .form-type-url, .form-type-tel {
		position:relative;
		&:before {
	    content: "";
	    width: 3px;
	    height: 90%;
	    position: absolute;
	    left: 0;
	    top: 0;
		}
	}
	.form-item-email-opt-in, .form-item-opt-in {
		label {
			font-size:13px;
		}
	}
	.description {
		p {
			@include fontSetup(13px, null, null, null, null);
			padding-left:20px;
		}
	}
}

