.path-frontpage, .page-node-35, .page-node-57, .page-node-58 {
  .navbar-nav {
    li {
      &:hover, &:focus {
        a {
          color:$blue;
          &:hover, &:focus {
            color:$blue;
          }
        }
      }
      &.active {
        a {
          color:$blue;
        }
      }
      a {
        &:focus, &:hover {
          color:$blue;
        }
      }
    } 
  }
}

.page-node-type-sector {
  .navbar-nav {
    li {
      &:hover {
        a {
          color:$red;
          &:hover, &:focus {
            color:$red;
          }
        }
      }
      &.active {
        a {
          color:$red;
        }
      }
      a {
        &:focus, &:hover {
          color:$red;
        }
      }
    }
  }
}

.page-node-type-service {
  .navbar-nav {
    li {
      &:hover {
        a {
          color:$turquoise;
          &:hover, &:focus {
            color:$turquoise;
          }
        }
      }
      &.active {
        a {
          color:$turquoise;
        }
      }
      a {
        &:focus, &:hover {
          color:$turquoise;
        }
      }
    }
  }
}
.page-node-type-about-us, .page-node-type-careers, .page-node-type-news-events, .page-node-type-our-team, .page-node-type-contact-hr-landing-page-, .page-node-type-supplier-network, .page-node-type-locations {
  .navbar-nav {
    li {
      &:hover {
        a {
          color:$purple;
          &:hover, &:focus {
            color:$purple;
          }
        }
      }
      &.active {
        a {
          color:$purple;
        }
      }
      a {
        &:focus, &:hover {
          color:$purple;
        }
      }
    }
  }
}


.navbar-default {
  border: none;
  margin-bottom: 0;
  .container {
    padding:25px 15px 20px;
  }
  .navbar-nav {
    li {
      a {
        letter-spacing: -0.025em;
        color:$white;
        background-color:transparent;
      }
      &:last-child {
        a {
          margin-right:0;
        }
      }
      &:link, &:visited, &:hover, &:focus {
        background-color:transparent;
      }
      &.active, &:hover, &.open {
        a {
          background-color:transparent;
          &:hover, &:focus {
            background-color:transparent;
          }
        }
      }
    }
  }   
  .navbar-brand {
    background:url(../img/wlt-logo.png) no-repeat 0 0 / 200px auto;
  }
    
  &.nav-change {
    -webkit-transition: all 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) 0s;
    transition: all 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) 0s;
    background:rgba(255, 255, 255, 1);
    box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.1);
  }
  .navbar-brand {
    @include text-hide;
    padding:0;
    position:relative;
    height: 30px;
    width: 200px;
  }  
}

body.navbar-is-fixed-top {
  margin-top: 0;
}

#block-wlt-account-menu {
  float:right;
  padding-top:30px;
  padding-bottom:10px;
}


//mobile nav
@media (max-width: 767px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
    z-index:2;
  }
  .navbar-default {
    background-color:$white;
    .container {
      padding-top:15px;
      padding-bottom:13px;
    }
    .navbar-toggle {
      border:none;
      margin:0 15px 0 0;
      z-index:2;
      .icon-bar {
        background-color:$grey;
      }
      &:focus, &:hover {
        background:transparent;
      }
    }
    .navbar-collapse {
      background-color:$blueNav;
      max-height: 100%;
      position: fixed;
      top: 0;
      bottom:0;
      width: 100%;
      height:100%;
      min-height: 100%;
      &.collapsing, &.in {
        -webkit-transition: height 0.01s;
        -moz-transition: height 0.01s;
        -ms-transition: height 0.01s;
        -o-transition: height 0.01s;
        transition: height 0.01s;
      }
      #block-wlt-main-menu {
        padding:140px 0 60px;
        .navbar-nav {
          li {
            text-align:center;
            @include fontSetup(22px, 1, null, 700, null);
            width: 150px;
            margin: 0 auto;
            border-bottom:1px solid $grey;
          }
        }
      }
    }
    &.hamburger-active {
      .navbar-toggle {
        padding:0;
        top:-18px;
        margin-right:25px;
        &:before {
          content:"x";
          width:10px;
          height:10px;
          color:$white;
          font-size:40px;
        }
        .icon-bar {
          display:none;
        }
      }
      .navbar-brand {
        background:url(../img/wlt-logo-white.png) no-repeat 0 0 / 200px auto;
      }
    }
  }

}


//styling up to mobile nav
@media (min-width: 768px) {

  .navbar-nav {
    float:right;
    li {
      a {
        @include fontSetup(16px, 1, null, 700, null);
        padding: 5px 0 5px 6px;
      }
    }
    > li {
      > a {
        &:after {
          content: "/";
          margin-left:5px;
        }
        &:before {
          content:'';
          position:absolute;
          right:0;
          left:110px;
          top:0;
          bottom:0;
          background:$white;
          -webkit-transform: skewX(-20deg);
          -moz-transform: skewX(-20deg);
          transform: skewX(-20deg);
          transform-origin: 100%;
          z-index:-1;
          -webkit-transition:left 0.35s ease-in-out;
          transition:left 0.35s ease-in-out;
        }
      }
      &.active, &:hover {
        > a {
          &:before {
            left: 0;
          }
          &:after {
            color:$white;
          }
        }
      }
    }
  }
  .navbar-default {
    background:transparent;
    -webkit-transition: all 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) 0s;
    transition: all 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) 0s;
    &:not(.nav-change) {
      .navbar-brand {
        background:url(../img/wlt-logo-white.png) no-repeat 0 0 / 200px auto;
      }
    }
    &.nav-change {
      li {
        a {
          color:$grey;
        }
      }
    }
  }
  .navbar-nav {
    li {
      -ms-transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
      opacity:0;
      -webkit-transition:-webkit-transform .3s cubic-bezier(.465,.183,.153,.946),opacity .3s cubic-bezier(.465,.183,.153,.946);
      transition:transform .3s cubic-bezier(.465,.183,.153,.946),opacity .3s cubic-bezier(.465,.183,.153,.946);
    }
    li:nth-child(1) {
      -webkit-transition-delay: .1s;
      transition-delay: .1s;
    }
    li:nth-child(2) {
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
    }
    li:nth-child(3) {
      -webkit-transition-delay: .3s;
      transition-delay: .3s;
    }
    li:nth-child(4) {
      -webkit-transition-delay: .4s;
      transition-delay: .4s;
    }
    li:nth-child(5) {
      -webkit-transition-delay: .5s;
      transition-delay: .5s;
    }
    li:nth-child(6) {
      -webkit-transition-delay: .6s;
      transition-delay: .6s;
    }
    li.menu-innit {
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity:1;
    }
    li {
      a {
        margin-right:14px;
      }
    }
}
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}


@media (min-width: 1030px) {
  .navbar-default {
    .container {
      width: 1030px;
    }
  }
}
//for ipad nav
@media (min-width: 922px) {
  .navbar-nav {
    li {
      a {
        margin-right:30px;
      }
    }
  }
}