#block-sectors, #block-sectors-landing {
  .view-content {
    background-color:$redDark;
    li {
      list-style:none;
    }
  }
}
.view-sectors{
  .sector {
    float:left;
    &:last-child {
      border-right:none;
    }  
    border-right:2px solid $white;
    h3 {
      @include fontSetup(14px, 1.3, $white, 700, 0);
      letter-spacing: -0.025em;
      text-align:center;
      display: table;
      width:100%;
      &.active {
        a { 
          background-color:$white;
          color:$red;
          z-index:1;
          &:before {
            color:$red;
          }
        }
      }
      a {
        background-color:$redDark;
        color:$white;
        text-decoration:none;
        display: table-cell;
        vertical-align: middle;
        position:relative;
        padding:64px 5px 0 5px;
        height: 110px;
        &:before {
          @include after-font-icon(48px, null);
          font-weight:normal;
          position: absolute;
          top: 12px;
          left: 0;
          right: 0;
        }
      }

    }
      &.sector-39 {
        a {
          &:before {
            content:"\e923";
          }
        }
      }
      &.sector-40 {
        a {
          &:before {
            content:"\e925";
          }
        }
      }
      &.sector-41 {
        a {
          &:before {
            content:"\e922";
          }
        }
      }
      &.sector-42 {
        a {
          &:before {
            content:"\e921";
          }
        }
      }
      &.sector-43 {
        a {
          &:before {
            content:"\e91f";
          }
        }
      }
      &.sector-44 {
        a {
          &:before {
            content:"\e924";
          }
        }
      }
      &.sector-45 {
        a {
          &:before {
            content:"\e91e";
          }
        }
      }
      &.sector-46 {
        a {
          &:before {
            content:"\e920";
          }
        }
      }
  }
}

@media (max-width: 767px) {
  #block-sectors, #block-sectors-landing {
    .sector {
      width:25%;
      &:nth-child(-n+4) {
        border-bottom:2px solid $white;
      }
      &:nth-child(4) {
        border-right:none;
      }
      h3 {
        &.active {
          a {
            &:after {//fix 1px on right of active state on mobile
              content:"";
              position: absolute;
              right: -1px;
              top: 0;
              width: 2px;
              background-color: $white;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #block-sectors, #block-sectors-landing {
    .sector {
      width: 12.5%;
      h3 {
        &.active {
          a {
            -webkit-transform:scale(1.1);
            transform:scale(1.1);
          }
        }
        a {
          &:hover {
            background-color:$white;
            color:$red;
            z-index:1;
            -webkit-transform:scale(1.1);
            transform:scale(1.1);
            &:before {
              color:$red;
            }
          }
        }
      }
    }
  }
}

//menu
@media (max-width: 500px) {
  #block-sectors, #block-sectors-landing {
    .sector {
      h3 {
        a {
          font-size:11px;
        }
      }
    }
  }
}
