.view-filters{
  //margin:0 auto;
  margin-bottom: 54px;
  text-align:center;
  .form-actions {
    display:none;
  }
  .select-wrapper {
    select {
      border-color:$blue;
      border-radius:0;
      height:32px;
      width: 260px;
      padding-right: 40px;
      font-size:18px;
      color:$grey;
      padding: 0 16px;
      line-height: 1.3;
    }
    &:after {
      content: "\e91d";
      font-family:"wlt";
      font-size:10px;
      color:$white;
      background-color:$blue;
      top:0;
      margin:0;
      bottom:0;
      padding:12px 10px 0;
    }
  }

}


